
@{
    ViewBag.Title = "AddJobOffer";
    Layout = "~/Areas/Management/Views/Shared/_layoutDashboard.cshtml";
}
<script src="~/Content/Scripts/JobOffers.js"></script>

<h5>@Resources.resource.IsTeklifiEkle</h5>
<hr />


<div class="col-lg-12">
    <div class="col-lg-4">
        <label>
            <input type="checkbox" id="IsMember" value="" /> @Resources.resource.UyeMi?
        </label>
        <br />
        <label>@Resources.resource.UyeSeciniz</label>
        <select class="form-control" name="MemberID" id="Members" disabled>
        </select>
        <br />
        <label>@Resources.resource.Logo</label>
        <br />
        <input type="file" name="file" value="Logo Seçiniz" id="JobOfferLogo" />
        <br />
        <br />
        <label>@Resources.resource.Dil</label>
        <select id="JobOfferLanguage" class="form-control">
            <option value="tr">TR</option>
            <option value="de">DE</option>
        </select>
        <br />
        <label>@Resources.resource.FirmaAdi</label>
        <input type="text" class="form-control" id="CorporationName" placeholder="@Resources.resource.FirmaAdi" value="" />
        <br />
        <label>@Resources.resource.Pozisyon</label>
        <input type="text" class="form-control" name="Position" value="" id="Position" placeholder="@Resources.resource.Pozisyon" />
        <br />
        <label>@Resources.resource.PozisyonAciklamasi</label>
        <textarea class="form-control" name="PositionDescription" id="PositionDescription" placeholder="@Resources.resource.PozisyonAciklamasi"></textarea>
        <br />
        <label>@Resources.resource.Lokasyon</label>
        <input type="text" class="form-control" name="Location" value="" id="Location" placeholder="@Resources.resource.Lokasyon" />
        <br />
        <label>URL</label>
        <input type="text" class="form-control" name="JobOfferURL" value="" id="JobOfferURL" placeholder="URL" />
        <br />
        <button onclick="SaveJobOffer()" class="btn btn-success" style="float:right">@Resources.resource.Kaydet</button>

    </div>
</div>
<script>
    $("#IsMember").change(function () {

        var memberCheckbox = document.getElementById("IsMember");
        var membersDropdown = document.getElementById("Members");
        var logo = document.getElementById("JobOfferLogo");
        var corpName = document.getElementById("CorporationName");

        if (memberCheckbox.checked === true) {
            GetMembers("Members");
            membersDropdown.removeAttribute("disabled");
            logo.setAttribute("disabled", "disabled");
            corpName.setAttribute("disabled", "disabled");
        }
        else {
            membersDropdown.setAttribute("disabled", "disabled");
            logo.removeAttribute("disabled");
            corpName.removeAttribute("disabled");

        }

    });
</script>