@model TDIHKCorporate.Types.JobOffers
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Management/Views/Shared/_layoutDashboard.cshtml";
}
<script src="~/Content/Scripts/JobOffers.js"></script>

<h5>İş Teklifi Düzenle</h5>
<hr />

<script>

    $(document).ready(function () {
        GetMembers("Members");


    });
</script>


<div class="col-lg-12">
    <div class="col-lg-4">
        <label>
            <input type="checkbox" id="IsMember" value="" /> Üye Mi?
        </label>
        <br />
        <label>Üye Seçiniz</label>
        <select class="form-control" name="MemberID" id="Members" disabled>
        </select>
        <br />
        <label>Logo</label>
        <br />
        <input type="file" name="file" value="Logo Seçiniz" id="JobOfferLogo" />
        <br />
        <br />
        <label>Dil</label>
        <select id="JobOfferLanguage" class="form-control">
            <option value="tr">TR</option>
            <option value="de">DE</option>
        </select>
        <br />
        <label>Firma Adı</label>
        <input type="text" class="form-control" id="CorporationName" placeholder="Firma Adı" value="@Model.CorporationName" />
        <br />
        <label>Pozisyon</label>
        <input type="text" class="form-control" name="Position" value="@Model.Position" id="Position" placeholder="Pozisyon" />
        <br />
        <label>Pozisyon Açıklaması</label>
        <textarea class="form-control" name="PositionDescription" id="PositionDescription" placeholder="Pozisyon Açıklaması">@Model.PositionDescription</textarea>
        <br />
        <label>Lokasyon</label>
        <input type="text" class="form-control" name="Location" value="@Model.Location" id="Location" placeholder="Lokasyon" />
        <br />
        <label>URL</label>
        <input type="text" class="form-control" name="JobOfferURL" value="" id="JobOfferURL" placeholder="URL" />
        <br />
        <button onclick="EditJobOffer(@Model.JobOfferID)" class="btn btn-success" style="float:right">Güncelle</button>

    </div>
</div>


<script>



    $("#IsMember").change(function () {

        var memberCheckbox = document.getElementById("IsMember");
        var membersDropdown = document.getElementById("Members");
        var logo = document.getElementById("JobOfferLogo");
        var corpName = document.getElementById("CorporationName");

        if (memberCheckbox.checked === true) {
            //GetMembers("Members");
            membersDropdown.removeAttribute("disabled");
            logo.setAttribute("disabled", "disabled");
            corpName.setAttribute("disabled", "disabled");
        }
        else {
            membersDropdown.setAttribute("disabled", "disabled");
            logo.removeAttribute("disabled");
            corpName.removeAttribute("disabled");

        }

    });

    setTimeout(() => {
        var memberCheckbox = document.getElementById("IsMember");

        if ('@Model.IsMember' === "True") {
            memberCheckbox.checked = true;

            $("#IsMember").trigger("change");
            $("#Members").val("@Model.MemberID");

        }

        $("#JobOfferLanguage").val('@Model.Language');
    }, 2500);


</script>