@model List<TDIHKCorporate.Types.MenuItems>
@using System.Globalization

<header>
    <!--Altın Dolar Euro Verileri-->
    <section class="uk-section-muted">
        @*<div class="market-wrapper">
            <div id="currency">

            </div>
        </div>*@
         
    </section>
    <!--Navbar üstü görselleri-->
    <section>
        <!--Mobil Nav-->
        <div class="uk-hidden@m">
            <div class="uk-flex uk-flex-between uk-container nav-overlay-mobile">
                <div class="uk-navbar-left">
                    <a href="#modal-mobile-nav" class="uk-icon" uk-icon="icon: menu; ratio: 2" uk-toggle></a>
                </div>
                <!--Mobile Nav Linkleri-->
                <div id="modal-mobile-nav" class="uk-modal-full" uk-modal>
                    <div class="uk-modal-dialog" uk-height-viewport="offset-top: true">
                        <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
                        <div class="uk-flex-middle uk-flex-center" uk-grid uk-height-viewport="offset-top: true">
                            <div class="uk-padding-large">

                                <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>

                                    @foreach (TDIHKCorporate.Types.MenuItems item in Model.Where(x => x.IsSubMenu == false).OrderBy(x => x.MenuItemPriority))
                                    {
                                    <li class="uk-parent">
                                        @if (item.Language == "tr")
                                        {

                                            if (item.IsActive)
                                            {
                                                if (item.PageIsActive)
                                                {
                                                    <a href="/tr/sayfalar/@item.PageSeoLink">@item.MenuName</a>
                                                }
                                                else
                                                {
                                                    <a href="#">@item.MenuName</a>
                                                }
                                            }

                                            if (Model.Exists(x => x.ParentMenuItemID == item.ID && x.IsSubMenu == true && x.MenuLevel == 1 && x.IsActive == true))
                                            {
                                                <ul class="uk-nav-sub">
                                                    <li class="uk-parent"><a href="/tr/sayfalar/@item.PageSeoLink">@item.MenuName</a></li>

                                                    @foreach (var subMenuItem in Model.Where(x => x.ParentMenuItemID == item.ID && x.IsSubMenu == true && x.MenuLevel == 1 && x.IsActive == true).OrderBy(x => x.MenuItemPriority))
                                                    {
                                                        <li>
                                                            <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>

                                                                <li @*class="uk-parent"*@>
                                                                    <a href="/tr/sayfalar/@subMenuItem.PageSeoLink">@subMenuItem.MenuName</a>

                                                                    @if (Model.Exists(x => x.ParentMenuItemID == subMenuItem.ID && x.IsSubMenu == true && x.MenuLevel == 2 && x.IsActive == true))
                                                                    {
                                                                        <ul @*class="uk-nav uk-navbar-dropdown-nav subnav-links"*@>
                                                                            @foreach (var subMenuSubItem in Model.Where(x => x.ParentMenuItemID == subMenuItem.ID && x.IsSubMenu == true && x.MenuLevel == 2 && x.IsActive == true).OrderBy(x => x.MenuItemPriority))
                                                                            {

                                                                                <li class="uk-active">
                                                                                    <a href="/tr/sayfalar/@subMenuSubItem.PageSeoLink">@subMenuSubItem.MenuName</a>

                                                                                </li>

                                                                            }
                                                                        </ul>
                                                                    }
                                                                </li>

                                                            </ul>
                                                        </li>
                                                    }


                                                </ul>
                                            }
                                        }
                                        else
                                        {
                                            if (item.IsActive)
                                            {
                                                if (item.PageIsActive)
                                                {
                                                    <a href="/de/seiten/@item.PageSeoLink">@item.MenuName</a>
                                                }
                                                else
                                                {
                                                    <a href="#">@item.MenuName</a>
                                                }
                                            }

                                            if (Model.Exists(x => x.ParentMenuItemID == item.ID && x.IsSubMenu == true && x.MenuLevel == 1 && x.IsActive == true))
                                            {
                                                <ul class="uk-nav-sub">
                                                    <li class="uk-parent"><a href="/de/seiten/@item.PageSeoLink">@item.MenuName</a></li>

                                                    @foreach (var subMenuItem in Model.Where(x => x.ParentMenuItemID == item.ID && x.IsSubMenu == true && x.MenuLevel == 1 && x.IsActive == true).OrderBy(x => x.MenuItemPriority))
                                                    {
                                                        <li>
                                                            <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>

                                                                <li @*class="uk-parent"*@>
                                                                    <a href="/de/seiten/@subMenuItem.PageSeoLink">@subMenuItem.MenuName</a>

                                                                    @if (Model.Exists(x => x.ParentMenuItemID == subMenuItem.ID && x.IsSubMenu == true && x.MenuLevel == 2 && x.IsActive == true))
                                                                    {
                                                                        <ul @*class="uk-nav uk-navbar-dropdown-nav subnav-links"*@>
                                                                            @foreach (var subMenuSubItem in Model.Where(x => x.ParentMenuItemID == subMenuItem.ID && x.IsSubMenu == true && x.MenuLevel == 2 && x.IsActive == true).OrderBy(x => x.MenuItemPriority))
                                                                            {

                                                                                <li class="uk-active">
                                                                                    <a href="/de/seiten/@subMenuSubItem.PageSeoLink">@subMenuSubItem.MenuName</a>

                                                                                </li>

                                                                            }
                                                                        </ul>
                                                                    }
                                                                </li>

                                                            </ul>
                                                        </li>
                                                    }


                                                </ul>
                                            }
                                        }
                                    </li>
                                    }

                                </ul>


                            </div>
                        </div>
                    </div>
                </div>


                @{
                    CultureInfo cultureInfo = System.Threading.Thread.CurrentThread.CurrentCulture;

                    string name = cultureInfo.TwoLetterISOLanguageName;

                    <div class="uk-navbar-right uk-flex-right uk-text-right">
                        <a class="uk-navbar-toggle uk-icon" uk-search-icon="icon: icn-search"
                           uk-toggle="target: .nav-overlay-mobile; animation: uk-animation-fade" href="#"></a>
                        <div class="uk-inline uk-width-1-3">

                            @if (name == "tr")
                            {
                                <button type="button" onclick="location.href='/Home/ChangeLanguage?language=de'" class="uk-width-1-1 uk-margin-small-left" style="background: transparent; border: none;">
                                    <img src="~/Content/MainSite/assets/images/Germany-icon.png" alt="">
                                </button>
                            }
                            else
                            {
                                <button type="button" onclick="location.href='/Home/ChangeLanguage?language=tr'" class="uk-width-1-1 uk-margin-small-left" style="background: transparent; border: none;">
                                    <img src="~/Content/MainSite/assets/images/Turkey-icon.png" alt="">
                                </button>
                            }



                        </div>
                    </div>
                }

            </div>
            <div class="nav-overlay-mobile uk-navbar-left uk-flex-1 uk-container" hidden>

                <div class="uk-navbar-item uk-width-expand">
                    <form class="uk-search uk-search-navbar uk-width-1-1">
                        <input class="uk-search-input" type="search" placeholder="@Resources.resource.Ara..." autofocus>
                    </form>
                </div>

                <a class="uk-navbar-toggle" uk-close uk-toggle="target: .nav-overlay-mobile; animation: uk-animation-fade"
                   href="#"></a>

            </div>
        </div>
        <div class="uk-flex uk-flex-between uk-container">
            <div>
				<a href="/" class="uk-link-reset">
					<img src="~/Content/MainSite/assets/images/tdihk-logo.png" alt="" class="uk-width-1-1" uk-img>
				</a>
            </div>
            <div>
				<a class="uk-link-reset" href="http://www.tobb.org.tr" target="_blank">
					<img src="~/Content/MainSite/assets/images/TOBB2B LOGO.png" alt="" class="uk-width-1-1 uk-visible@m" uk-img>
				</a>
            </div>

        </div>
    </section>
    <!--Navbar-->
    <div class="uk-container">
        <nav class="uk-navbar uk-navbar-container" uk-navbar>
            <!--Navbar linkleri (masaüstü)-->
            <div class="nav-overlay uk-navbar-left uk-visible@m uk-width-expand">
                <ul class="uk-navbar-nav uk-flex uk-flex-between uk-width-1-1">

                    @foreach (TDIHKCorporate.Types.MenuItems item in Model.Where(x => x.IsSubMenu == false).OrderBy(x => x.MenuItemPriority))
                    {
                        <li>
                            @{
                                if (item.Language == "tr")
                                {

                                    if (item.IsActive)
                                    {
                                        if (item.PageIsActive)
                                        {
                                            <a href="/tr/sayfalar/@item.PageSeoLink">@item.MenuName</a>
                                        }
                                        else
                                        {
                                            <a href="#">@item.MenuName</a>
                                        }


                                        if (Model.Exists(x => x.ParentMenuItemID == item.ID && x.IsSubMenu == true && x.MenuLevel == 1 && x.IsActive == true))
                                        {
                                            <div class="uk-navbar-dropdown">
                                                <ul class="uk-nav uk-navbar-dropdown-nav">

                                                    @foreach (var subMenuItem in Model.Where(x => x.ParentMenuItemID == item.ID && x.IsSubMenu == true && x.MenuLevel == 1 && x.IsActive == true).OrderBy(x => x.MenuItemPriority))
                                                    {

                                                        <li class="uk-active" uk-toggle="target: .subnav-links; mode: hover; queued: true; cls: uk-hidden">
                                                            @if (subMenuItem.PageIsActive)
                                                            {
                                                                <a href="/tr/sayfalar/@subMenuItem.PageSeoLink">@subMenuItem.MenuName</a>
                                                            }
                                                            else
                                                            {
                                                                <a href="#">@subMenuItem.MenuName</a>
                                                            }

                                                            @if (Model.Exists(x => x.ParentMenuItemID == subMenuItem.ID && x.IsSubMenu == true && x.MenuLevel == 2 && x.IsActive == true))
                                                            {
                                                                <ul class="uk-nav uk-navbar-dropdown-nav subnav-links uk-hidden">
                                                                    @foreach (var subMenuSubItem in Model.Where(x => x.ParentMenuItemID == subMenuItem.ID && x.IsSubMenu == true && x.MenuLevel == 2 && x.IsActive == true).OrderBy(x => x.MenuItemPriority))
                                                                    {

                                                                        <li>
                                                                            @if (subMenuSubItem.PageIsActive)
                                                                            {
                                                                                <a href="/tr/sayfalar/@subMenuSubItem.PageSeoLink">@subMenuSubItem.MenuName</a>
                                                                            }
                                                                            else
                                                                            {
                                                                                <a href="#">@subMenuSubItem.MenuName</a>
                                                                            }
                                                                        </li>

                                                                    }
                                                                </ul>
                                                            }
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        }

                                    }
                                }
                                else if (item.Language == "de")
                                {

                                    if (item.IsActive)
                                    {
                                        if (item.PageIsActive)
                                        {
                                            <a href="/de/seiten/@item.PageSeoLink">@item.MenuName</a>
                                        }
                                        else
                                        {
                                            <a href="#">@item.MenuName</a>
                                        }


                                        if (Model.Exists(x => x.ParentMenuItemID == item.ID && x.IsSubMenu == true && x.MenuLevel == 1 && x.IsActive == true))
                                        {
                                            <div class="uk-navbar-dropdown">
                                                <ul class="uk-nav uk-navbar-dropdown-nav">

                                                    @foreach (var subMenuItem in Model.Where(x => x.ParentMenuItemID == item.ID && x.IsSubMenu == true && x.MenuLevel == 1 && x.IsActive == true).OrderBy(x => x.MenuItemPriority))
                                                    {

                                                        <li class="uk-active" uk-toggle="target: .subnav-links; mode: hover; cls: uk-hidden; queued: true">
                                                            @if (subMenuItem.PageIsActive)
                                                            {
                                                                <a href="/de/seiten/@subMenuItem.PageSeoLink">@subMenuItem.MenuName</a>
                                                            }
                                                            else
                                                            {
                                                                <a href="#">@subMenuItem.MenuName</a>
                                                            }

                                                            @if (Model.Exists(x => x.ParentMenuItemID == subMenuItem.ID && x.IsSubMenu == true && x.MenuLevel == 2 && x.IsActive == true))
                                                            {
                                                                <ul class="uk-nav uk-navbar-dropdown-nav subnav-links uk-hidden">
                                                                    @foreach (var subMenuSubItem in Model.Where(x => x.ParentMenuItemID == subMenuItem.ID && x.IsSubMenu == true && x.MenuLevel == 2 && x.IsActive == true).OrderBy(x => x.MenuItemPriority))
                                                                    {

                                                                        <li class="">
                                                                            @if (subMenuSubItem.PageIsActive)
                                                                            {
                                                                                <a href="/de/seiten/@subMenuSubItem.PageSeoLink">@subMenuSubItem.MenuName</a>
                                                                            }
                                                                            else
                                                                            {
                                                                                <a href="#">@subMenuSubItem.MenuName</a>
                                                                            }
                                                                        </li>

                                                                    }
                                                                </ul>
                                                            }
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        }

                                    }


                                }
                            }


                        </li>

                    }



                </ul>
            </div>




            <div class="nav-overlay uk-navbar-right uk-visible@m uk-flex-right uk-text-right" style="width: 126px;">


                @{
                    CultureInfo ci = System.Threading.Thread.CurrentThread.CurrentCulture;

                    string lang = cultureInfo.TwoLetterISOLanguageName;

                    <div class="uk-navbar-right uk-flex-right uk-text-right">
                        <a class="uk-navbar-toggle uk-icon" uk-search-icon="icon: icn-search"
                           uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
                        <div class="uk-inline uk-width-1-2">

                            @if (lang == "tr")
                            {
                                <button type="button" onclick="location.href='/Home/ChangeLanguage?language=de'" class="uk-width-1-1 uk-margin-small-left" style="background: transparent; border: none;">
                                    <img src="~/Content/MainSite/assets/images/Germany-icon.png" alt="">
                                </button>
                            }
                            else
                            {
                                <button type="button" onclick="location.href='/Home/ChangeLanguage?language=tr'" class="uk-width-1-1 uk-margin-small-left" style="background: transparent; border: none;">
                                    <img src="~/Content/MainSite/assets/images/Turkey-icon.png" alt="">
                                </button>
                            }



                        </div>
                    </div>
                }
            </div>
            <div class="nav-overlay uk-navbar-left uk-flex-1" hidden>

                <div class="uk-navbar-item uk-width-expand">
                    <form class="uk-search uk-search-navbar uk-width-1-1">
                        <input class="uk-search-input" type="search" placeholder="@Resources.resource.Ara..." autofocus>
                    </form>
                </div>
                <a class="uk-navbar-toggle" uk-close uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
            </div>
    </div>
    </nav>
    </div>
</header>
