@using System.Globalization

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layoutMaster.cshtml";
}

<main class="uk-container">

    @Html.Action("ShowHomePageSlider", "Home")
    @Html.Action("ShowPremiumMembersSlider", "Home")

    <section>
        @Html.Action("ShowHomePageKalender", "Home")

        <div class="uk-padding uk-flex uk-flex-center uk-padding-remove-horizontal"
             uk-scrollspy="cls: uk-animation-fade; delay: 250">
            @{
                CultureInfo cultureInfo = System.Threading.Thread.CurrentThread.CurrentCulture;

                string name = cultureInfo.TwoLetterISOLanguageName;

                if (name == "de")
                {
                    <a href="de/seiten/kalender" class="uk-button uk-button-primary uk-text-bold uk-border-rounded uk-width-1-1 uk-width-1-3@s uk-width-1-5@m">Kalender</a>
                }
                else
                {
                    <a href="tr/sayfalar/etkinlik-takvimi" class="uk-button uk-button-primary uk-text-bold uk-border-rounded uk-width-1-1 uk-width-1-3@s uk-width-1-5@m">Etkinlik Takvimi</a>
                }
            }

        </div>

    </section>
    <!--Grid Bölüm-->
    <section>
        <div class="uk-grid uk-grid-collapse uk-margin-medium-bottom" uk-grid="masonry: true">
            <div class="uk-width-2-3@s uk-flex">
                <div class="uk-width-2-3 grid-first-line">
                    <a href="">
                        <div class="uk-inline-clip uk-transition-toggle uk-width-1-1">
                            <img src="https://picsum.photos/570/400" alt="" class="uk-transition-scale-up uk-transition-opaque uk-width-1-1" uk-img>
                            <div class="uk-visible@m uk-overlay uk-position-bottom uk-background-primary color-white uk-transition-slide-bottom uk-h2 uk-margin-remove">Markteintritt</div>
                            <div class="uk-hidden@m uk-overlay uk-position-top uk-background-primary color-white  uk-h2 uk-margin-remove">Markteintritt</div>
                        </div>
                    </a>
                </div>
                <div class="uk-width-1-3 grid-first-line uk-inline-clip uk-transition-toggle">
                    <a href="">
                        <div class="uk-inline-clip uk-transition-toggle uk-width-1-1">
                            <img src="https://picsum.photos/285/400" alt="" class="uk-transition-scale-up uk-transition-opaque uk-width-1-1" uk-img>
                            <div class="uk-visible@m uk-overlay uk-position-center  color-white uk-transition-fade uk-h2 uk-margin-remove">Außenhandelsportal</div>
                            <div class="uk-hidden@m uk-overlay uk-position-center  color-white uk-h6 uk-margin-remove">Außenhandelsportal</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="uk-width-1-3@s">
                <a href="">
                    <div class="uk-inline-clip uk-transition-toggle uk-width-1-1">
                        <img src="https://picsum.photos/285/400" alt="" class="uk-transition-scale-up uk-transition-opaque uk-width-1-1" uk-img>
                        <div class="uk-visible@m uk-overlay uk-position-top uk-background-primary color-white uk-transition-slide-top uk-h2 uk-margin-remove">Infoblatter</div>
                        <div class="uk-hidden@m uk-overlay uk-position-top uk-background-primary color-white  uk-h2 uk-margin-remove">Infoblatter</div>
                    </div>
                </a>
            </div>
            <div class="uk-width-2-3@s">
                <a href="" class="uk-link-reset">
                    <div class="uk-grid uk-grid-collapse" uk-grid>
                        <div class="uk-width-1-4 uk-background-primary">
                            <a href="">
                                <img src="https://picsum.photos/250/234" alt="" class="uk-transition-scale-up uk-transition-opaque uk-width-1-1" uk-img>
                            </a>
                        </div>
                        <div class="uk-width-3-4 uk-background-muted uk-position-relative">
                            <div class="uk-position-absolute" style="height: 3px; background-color: rgb(230, 152, 230); bottom: 0; width: 100%;"></div>
                            <div class="uk-position-absolute uk-position-bottom-left"><span class="uk-margin-small-left uk-margin-small-bottom play-icon" uk-icon="icon: icn-play; ratio: 2"></span></div>
                            <div class="uk-h2 uk-padding-small uk-margin-remove">
                                <span id="podcaster">THK Podcast</span>
                                <span>:</span>
                                <span>Test</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <!--Podcast-->
    @Html.Action("GetHomepagePodcasts")
    <br />
    @Html.Action("ShowPremiumAdvantageSlider", "Home")
    <!--Haberler-->
    <section>
        <h2 class="uk-text-bold">Nachrichten</h2>
        <!--Haber Örneği-->
        <!--İlk haber örneği (cshtml'e) bu kısmı taşırsın)-->
        <div class="uk-grid uk-grid-medium uk-margin-large-bottom" uk-grid>
            <div class="uk-width-1-4 uk-width-1-6@s">
                <div class="uk-grid uk-child-width-1-2 uk-grid-small" uk-grid>
                    <div class="uk-flex">
                        <div class="uk-margin-small-right event-day" style="line-height: .7;">
                            4
                        </div>
                        <div class="uk-flex uk-flex-column event-date">
                            <span class="line-height-1">OKT</span>
                            <span class="line-height-1">2020</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-3-4 uk-width-expand@s">
                <div class="size-20 uk-width-1-1 uk-width-3-4@s uk-margin-small-left">
                    Kurzarbeitergeld bis 31.12.2021
                    verlängert / Mehr Kinderkrankengeldtage für
                    arbeitende Eltern Wir möchten Sie über einige weitere Beschlüsse der Großen Koalition
                    aufgrund der Pandemie und
                    ihrer Auswirkungen informieren.
                </div>
                <div>
                    <a href="" class="uk-link-reset">
                        <div class="uk-flex uk-flex-middle">
                            <span class="uk-icon uk-margin-small-right" uk-icon="icon: icn-chevron-right"></span>
                            <span class="uk-h2 uk-margin-remove uk-text-bold">Weiter</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!--İlk haber örneği sonu-->
        <div class="uk-grid uk-grid-medium uk-margin-large-bottom" uk-grid>
            <div class="uk-width-1-4 uk-width-1-6@s">
                <div class="uk-grid uk-child-width-1-2 uk-grid-small" uk-grid>
                    <div class="uk-flex">
                        <div class="uk-margin-small-right event-day" style="line-height: .7;">
                            4
                        </div>
                        <div class="uk-flex uk-flex-column event-date">
                            <span class="line-height-1">OKT</span>
                            <span class="line-height-1">2020</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-3-4 uk-width-expand@s">
                <div class="size-20 uk-width-1-1 uk-width-3-4@s uk-margin-small-left">
                    Kurzarbeitergeld bis 31.12.2021
                    verlängert / Mehr Kinderkrankengeldtage für
                    arbeitende Eltern Wir möchten Sie über einige weitere Beschlüsse der Großen Koalition
                    aufgrund der Pandemie und
                    ihrer Auswirkungen informieren.
                </div>
                <div>
                    <a href="" class="uk-link-reset">
                        <div class="uk-flex uk-flex-middle">
                            <span class="uk-icon uk-margin-small-right" uk-icon="icon: icn-chevron-right"></span>
                            <span class="uk-h2 uk-margin-remove uk-text-bold">Weiter</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="uk-grid uk-grid-medium uk-margin-large-bottom" uk-grid>
            <div class="uk-width-1-4 uk-width-1-6@s">
                <div class="uk-grid uk-child-width-1-2 uk-grid-small" uk-grid>
                    <div class="uk-flex">
                        <div class="uk-margin-small-right event-day" style="line-height: .7;">
                            4
                        </div>
                        <div class="uk-flex uk-flex-column event-date">
                            <span class="line-height-1">OKT</span>
                            <span class="line-height-1">2020</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-3-4 uk-width-expand@s">
                <div class="size-20 uk-width-1-1 uk-width-3-4@s uk-margin-small-left">
                    Kurzarbeitergeld bis 31.12.2021
                    verlängert / Mehr Kinderkrankengeldtage für
                    arbeitende Eltern Wir möchten Sie über einige weitere Beschlüsse der Großen Koalition
                    aufgrund der Pandemie und
                    ihrer Auswirkungen informieren.
                </div>
                <div>
                    <a href="" class="uk-link-reset">
                        <div class="uk-flex uk-flex-middle">
                            <span class="uk-icon uk-margin-small-right" uk-icon="icon: icn-chevron-right"></span>
                            <span class="uk-h2 uk-margin-remove uk-text-bold">Weiter</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- Haber Örneği Sonu-->
        <p class="uk-text-center uk-text-bold uk-margin-medium-bottom" style="font-size: 25px">
            Melden Sie sich für
            unserer Newsletter an um die Neusten Nachrichten zu erhalten.
        </p>

        @Html.Action("Index", "Newsletter")

    </section>
</main>
