@using System.Globalization

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layoutMaster.cshtml";

}

<div class="error">
    <h3>@ViewBag.Error</h3>
</div>

<main class="uk-container">

    @Html.Action("ShowHomePageSlider", "Home")
    @Html.Action("ShowPremiumMembersSlider", "Home")
	
    <section>
        @Html.Action("ShowHomePageKalender", "Home")

        <div class="uk-padding uk-flex uk-flex-center uk-padding-remove-horizontal"
             uk-scrollspy="cls: uk-animation-fade; delay: 250">
            @{
                CultureInfo cultureInfo = System.Threading.Thread.CurrentThread.CurrentCulture;

                string name = cultureInfo.TwoLetterISOLanguageName;

                if (name == "de")
                {
                    <a href="de/seiten/kalender" class="uk-button uk-button-primary  uk-border-rounded uk-width-1-1 uk-width-1-3@s uk-width-1-5@m">@Resources.resource.EtkinlikTakvimi</a>
                }
                else
                {
                    <a href="tr/sayfalar/etkinlik-takvimi" class="uk-button uk-button-primary uk-border-rounded uk-width-1-1 uk-width-1-3@s uk-width-1-5@m">@Resources.resource.EtkinlikTakvimi</a>
                }
            }

        </div>

    </section>
    <!--Grid Bölüm-->
	<section>
		<div class="uk-grid uk-grid-collapse uk-grid-column-small uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-4@m uk-margin-medium-bottom" uk-grid>
			<div>
				<div class="uk-position-relative uk-transition-toggle">
					@if (name == "tr")
					{
						<a class="uk-link-reset" href="/tr/sayfalar/dis-ticaret-portali">
							<img src="~/Content/MainSite/assets/images/Aussenhandelsportal-grid.jpg" alt="" class="uk-width-1-1">
							<div class="uk-position-cover uk-background-primary uk-padding-small uk-flex uk-flex-center uk-flex-middle uk-transition-fade uk-visible@l">
								<div class="uk-h3 uk-light uk-margin-remove uk-text-center">@Resources.resource.DisTicaretPortali</div>
							</div>
							<div class="uk-position-cover uk-padding-small uk-flex uk-flex-center uk-flex-middle uk-hidden@l">
								<div class="uk-h3 uk-background-primary uk-light uk-margin-remove uk-padding-small uk-padding-remove-vertical uk-text-center">@Resources.resource.DisTicaretPortali</div>
							</div>
						</a>
					}
					else
					{
				<a class="uk-link-reset" href="/de/seiten/aussenhandelsportal">
					<img src="~/Content/MainSite/assets/images/Aussenhandelsportal-grid.jpg" alt="" class="uk-width-1-1">
					<div class="uk-position-cover uk-background-primary uk-padding-small uk-flex uk-flex-center uk-flex-middle uk-transition-fade uk-visible@l">
						<div class="uk-h3 uk-light uk-margin-remove uk-text-center">@Resources.resource.DisTicaretPortali</div>
					</div>
					<div class="uk-position-cover uk-padding-small uk-flex uk-flex-center uk-flex-middle uk-hidden@l">
						<div class="uk-h3 uk-background-primary uk-light uk-margin-remove uk-padding-small uk-padding-remove-vertical uk-text-center">@Resources.resource.DisTicaretPortali</div>
					</div>
				</a>

					}
				</div>
			</div>
			<div>
				<div class="uk-position-relative uk-transition-toggle">
					@if (name == "tr")
					{
						<a class="uk-link-reset" href="/tr/sayfalar/giris-cikis-kurallari">
							<img src="~/Content/MainSite/assets/images/Ein_und_ausreise-grid.jpg" alt="" class="uk-width-1-1">
							<div class="uk-position-cover uk-background-primary uk-padding-small uk-flex uk-flex-center uk-flex-middle uk-transition-fade uk-visible@l">
								<div class="uk-h3 uk-light uk-margin-remove uk-text-center">@Resources.resource.GirisCikisKurallari</div>
							</div>
							<div class="uk-position-cover uk-padding-small uk-flex uk-flex-center uk-flex-middle uk-hidden@l">
								<div class="uk-h3 uk-background-primary uk-light uk-margin-remove uk-padding-small uk-padding-remove-vertical uk-text-center">@Resources.resource.GirisCikisKurallari</div>
							</div>
						</a>
					}
					else
					{
						<a class="uk-link-reset" href="/de/seiten/ein-und-ausreisebestimmungen">
							<img src="~/Content/MainSite/assets/images/Ein_und_ausreise-grid.jpg" alt="" class="uk-width-1-1">
							<div class="uk-position-cover uk-background-primary uk-padding-small uk-flex uk-flex-center uk-flex-middle uk-transition-fade uk-visible@l">
								<div class="uk-h3 uk-light uk-margin-remove uk-text-center">@Resources.resource.GirisCikisKurallari</div>
							</div>
							<div class="uk-position-cover uk-padding-small uk-flex uk-flex-center uk-flex-middle uk-hidden@l">
								<div class="uk-h3 uk-background-primary uk-light uk-margin-remove uk-padding-small uk-padding-remove-vertical uk-text-center">@Resources.resource.GirisCikisKurallari</div>
							</div>
						</a>
					}
				</div>
			</div>
			<div>
				<div class="uk-position-relative uk-transition-toggle">
					@if (name == "tr")
					{
						<a class="uk-link-reset" href="/tr/sayfalar/bilgi-notlari">
							<img src="~/Content/MainSite/assets/images/Infoblaetter-grid.jpg" alt="">
							<div class="uk-position-cover uk-background-primary uk-padding-small uk-flex uk-flex-center uk-flex-middle uk-transition-fade uk-visible@l">
								<div class="uk-h3 uk-light uk-margin-remove">@Resources.resource.BilgiNotlari</div>
							</div>
							<div class="uk-position-cover uk-padding-small uk-flex uk-flex-center uk-flex-middle uk-hidden@l">
								<div class="uk-h3 uk-background-primary uk-light uk-margin-remove uk-padding-small uk-padding-remove-vertical uk-text-center">@Resources.resource.BilgiNotlari</div>
							</div>
						</a>
					}
					else
					{
						<a class="uk-link-reset" href="/de/seiten/infoblatter">
							<img src="~/Content/MainSite/assets/images/Infoblaetter-grid.jpg" alt="">
							<div class="uk-position-cover uk-background-primary uk-padding-small uk-flex uk-flex-center uk-flex-middle uk-transition-fade uk-visible@l">
								<div class="uk-h3 uk-light uk-margin-remove">@Resources.resource.BilgiNotlari</div>
							</div>
							<div class="uk-position-cover uk-padding-small uk-flex uk-flex-center uk-flex-middle uk-hidden@l">
								<div class="uk-h3 uk-background-primary uk-light uk-margin-remove uk-padding-small uk-padding-remove-vertical uk-text-center">@Resources.resource.BilgiNotlari</div>
							</div>
						</a>
					}
				</div>
			</div>
			<div>
				<div class="uk-position-relative uk-transition-toggle">
					@if (name == "tr")
					{
						<a class="uk-link-reset" href="/tr/sayfalar/pazara-giris">
							<img src="~/Content/MainSite/assets/images/Markteintritt-grid.jpg" alt="">
							<div class="uk-position-cover uk-background-primary uk-padding-small uk-flex uk-flex-center uk-flex-middle uk-transition-fade uk-visible@l">
								<div class="uk-h3 uk-light uk-margin-remove">@Resources.resource.PazaraGiris</div>
							</div>
							<div class="uk-position-cover uk-padding-small uk-flex uk-flex-center uk-flex-middle uk-hidden@l">
								<div class="uk-h3 uk-background-primary uk-light uk-margin-remove uk-padding-small uk-padding-remove-vertical uk-text-center">@Resources.resource.PazaraGiris</div>
							</div>
						</a>
					}
					else
					{
						<a class="uk-link-reset" href="/de/seiten/markteintritt">
							<img src="~/Content/MainSite/assets/images/Markteintritt-grid.jpg" alt="">
							<div class="uk-position-cover uk-background-primary uk-padding-small uk-flex uk-flex-center uk-flex-middle uk-transition-fade uk-visible@l">
								<div class="uk-h3 uk-light uk-margin-remove">@Resources.resource.PazaraGiris</div>
							</div>
							<div class="uk-position-cover uk-padding-small uk-flex uk-flex-center uk-flex-middle uk-hidden@l">
								<div class="uk-h3 uk-background-primary uk-light uk-margin-remove uk-padding-small uk-padding-remove-vertical uk-text-center">@Resources.resource.PazaraGiris</div>
							</div>
						</a>
					}
				</div>
			</div>
		</div>

	</section>
    <!--Podcast-->
    @Html.Action("GetHomepagePodcasts", "Home")
    <br />
    @Html.Action("ShowPremiumAdvantageSlider", "Home")
    <br />
    @Html.Action("ShowHomePageNachrichten", "Home")

</main>
