@using System.Globalization

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layoutMaster.cshtml";
}

<main class="uk-container">

    @Html.Action("ShowHomePageSlider", "Home")
    @Html.Action("ShowPremiumMembersSlider", "Home")

    <section>
        @Html.Action("ShowHomePageKalender", "Home")

        <div class="uk-padding uk-flex uk-flex-center uk-padding-remove-horizontal"
             uk-scrollspy="cls: uk-animation-fade; delay: 250">
            @{
                CultureInfo cultureInfo = System.Threading.Thread.CurrentThread.CurrentCulture;

                string name = cultureInfo.TwoLetterISOLanguageName;

                if (name == "de")
                {
                    <a href="de/seiten/kalender" class="uk-button uk-button-primary uk-text-bold uk-border-rounded uk-width-1-1 uk-width-1-3@s uk-width-1-5@m">Kalender</a>
                }
                else
                {
                    <a href="tr/sayfalar/etkinlik-takvimi" class="uk-button uk-button-primary uk-text-bold uk-border-rounded uk-width-1-1 uk-width-1-3@s uk-width-1-5@m">Etkinlik Takvimi</a>
                }
            }

        </div>

    </section>
    <!--Grid Bölüm-->
    <section>
        <div class="uk-grid uk-grid-collapse uk-margin-medium-bottom" uk-grid="masonry: true">
            <div class="uk-width-2-3@s uk-flex">
                <div class="uk-width-2-3 grid-first-line">
                    <a href="">
                        <div class="uk-inline-clip uk-transition-toggle uk-width-1-1">
                            <img src="https://picsum.photos/570/400" alt="" class="uk-transition-scale-up uk-transition-opaque uk-width-1-1" uk-img>
                            <div class="uk-visible@m uk-overlay uk-position-bottom uk-background-primary color-white uk-transition-slide-bottom uk-h3 uk-margin-remove">Markteintritt</div>
                            <div class="uk-hidden@m uk-overlay uk-position-top uk-background-primary color-white  uk-h3 uk-margin-remove">Markteintritt</div>
                        </div>
                    </a>
                </div>
                <div class="uk-width-1-3 grid-first-line uk-inline-clip uk-transition-toggle">
                    <a href="">
                        <div class="uk-inline-clip uk-transition-toggle uk-width-1-1">
                            <img src="https://picsum.photos/285/400" alt="" class="uk-transition-scale-up uk-transition-opaque uk-width-1-1" uk-img>
                            <div class="uk-visible@m uk-overlay uk-position-center  color-white uk-transition-fade uk-h3 uk-margin-remove">Außenhandelsportal</div>
                            <div class="uk-hidden@m uk-overlay uk-position-center  color-white uk-h6 uk-margin-remove">Außenhandelsportal</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="uk-width-1-3@s">
                <a href="">
                    <div class="uk-inline-clip uk-transition-toggle uk-width-1-1">
                        <img src="https://picsum.photos/285/400" alt="" class="uk-transition-scale-up uk-transition-opaque uk-width-1-1" uk-img>
                        <div class="uk-visible@m uk-overlay uk-position-top uk-background-primary color-white uk-transition-slide-top uk-h3 uk-margin-remove">Infoblatter</div>
                        <div class="uk-hidden@m uk-overlay uk-position-top uk-background-primary color-white  uk-h3 uk-margin-remove">Infoblatter</div>
                    </div>
                </a>
            </div>
            <div class="uk-width-2-3@s">
				<a href="" class="uk-link-reset">
					<div class="uk-inline-clip uk-transition-toggle uk-width-1-1">
						<img src="https://picsum.photos/770/180" uk-img />
						<div class="uk-visible@m uk-overlay uk-position-bottom uk-background-primary color-white uk-transition-slide-bottom uk-h3 uk-margin-remove">New Link</div>
						<div class="uk-hidden@m uk-overlay uk-position-top uk-background-primary color-white  uk-h3 uk-margin-remove">New Link</div>
					</div>
				</a>
            </div>
        </div>
    </section>
    <!--Podcast-->
    @Html.Action("GetHomepagePodcasts", "Home")
    <br />
    @Html.Action("ShowPremiumAdvantageSlider", "Home")
    <br />
    @Html.Action("ShowHomePageNachrichten", "Home")

</main>
