@model List<TDIHKCorporate.Types.Events>
@using Newtonsoft.Json
@{
    ViewBag.Title = "EventList";
    Layout = "~/Areas/Management/Views/Shared/_layoutDashboard.cshtml";
}
<script src="~/Content/Scripts/Event.js"></script>

<h5>Event List</h5>
<hr />
<div class="col-sm-12">
    <table id="eventTable" class="table table-hover dataTable" style="width:100%" role="grid" aria-describedby="zero-config_info">
        <thead>
            <tr role="row">
                <th class="sorting_asc" tabindex="0" aria-controls="zero-config" rowspan="1" colspan="1" aria-sort="ascending" style="width: 250px;">Event Title</th>

                <th class="sorting_asc" tabindex="0" aria-controls="zero-config" rowspan="1" colspan="1" aria-sort="ascending" style="width: 250px;">Event Date</th>

                <th class="sorting_asc" tabindex="0" aria-controls="zero-config" rowspan="1" colspan="1" aria-sort="ascending" style="width: 250px;">Event Time</th>

                <th class="sorting_asc" tabindex="0" aria-controls="zero-config" rowspan="1" colspan="1" aria-sort="ascending" style="width: 250px;">Event Language</th>

                <th class="sorting_asc" tabindex="0" aria-controls="zero-config" rowspan="1" colspan="1" aria-sort="ascending" style="width: 250px;">Event Quota</th>

                <th class="sorting_asc" tabindex="0" aria-controls="zero-config" rowspan="1" colspan="1" aria-sort="ascending" style="width: 250px;">Event Critical Quota</th>

                <th class="sorting_asc" tabindex="0" aria-controls="zero-config" rowspan="1" colspan="1" aria-sort="ascending" style="width: 250px;">Created Date</th>

                <th style="width: 234px;">Eylemler</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model)
            {
                <tr>
                    <td class="sorting_1">@row.EventTitle</td>
                    <td>@row.EventDate.ToString("dd.MM.yyyy")</td>

                    @{
                        TimeSpan ts = new TimeSpan(row.EventTime.Hours, row.EventTime.Minutes, row.EventTime.Seconds);

                        <td>@String.Format("{0:hh\\:mm}", ts)</td>
                    }

                    <td>@row.Language</td>
                    <td>@row.EventQuota</td>
                    <td>@row.EventCriticalQuota</td>

                    @{
                        string createdTimezoneId = System.Configuration.ConfigurationManager.AppSettings[System.Threading.Thread.CurrentThread.CurrentCulture.Name];
                        DateTime createdDate = TimeZoneInfo.ConvertTimeBySystemTimeZoneId((DateTime)row.CreatedDate, createdTimezoneId);
                        <td>@createdDate</td>
                    }

                <td>
                    @*<button onclick="window.open(
         '/Management/Event/Edit/' +@row.EventID,
         '_blank' );" class="btn btn-dark">
            <i class="fas fa-edit"></i>
        </button>*@

                    <a target="_blank" href="/Management/Event/Edit/@row.EventID" class="btn btn-dark"><i class="fas fa-edit"></i></a>

                    @if (row.IsActive)
                    {
                        <button onclick="PassiveEvent(@row.EventID)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                    }
                    else
                    {
                        <button onclick="ActivateEvent(@row.EventID)" class="btn btn-success"><i class="fa fa-check"></i></button>
                    }

                    <a target="_blank" href="/Management/Event/EventRegistrations/@row.EventIdentifier" class="btn btn-outline-dark"><i class="fas fa-list"></i></a>
                </td>
                </tr>
            }

        </tbody>
    </table>
</div>


<script>
    $(document).ready(function () {

        $('#' + 'eventTable').DataTable({
            "oLanguage": {
                "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                "sInfo": "Showing page _PAGE_ of _PAGES_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "Search...",
                "sLengthMenu": "Results :  _MENU_",
            },
            "stripeClasses": [],
            "lengthMenu": [7, 10, 20, 50],
            "pageLength": 7,
            "destroy": true
        });


    });

</script>

