@model TDIHKCorporate.Types.Pages


@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_layoutMaster.cshtml";
}

<head>
    <meta name="description" content="@Model.PageTitle">
    <meta name="keywords" content="@Model.PageSeoKeywords">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


@if (Model.PageContent.StartsWith("<main"))
{
<main class="uk-container" uk-scrollspy="cls: uk-animation-fade; target: > section; delay: 100">
    @Html.Raw(Model.PageContent)


            @if (Model.NewsletterPart)
            {
                @Html.Action("Index", "Newsletter")
            }
            @if (Model.VorteillePart)
            {
                @Html.Action("Vorteille", "Newsletter")
            }
    </main>
}
else
{
<main class="uk-container" uk-scrollspy="cls: uk-animation-fade; target: > section; delay: 100">
    <!--Sayfa Başlığı-->
    <div class="uk-background-secondary">
        <h1 class="uk-h5 banner-padding uk-margin-remove">@Model.PageTitle</h1>
    </div><!--Sayfa Başlığı sonu-->
    <!--Banner: Eklenen imajın en boy oranı korunur.-->

    <div><img @*style="width:1140px;height:463px;"*@ src="@Model.PageImagePath" alt="" uk-img="" /></div><!--Banner sonu-->
    <br />

    @Html.Raw(Model.PageContent)


    @if (Model.PageIdentifier == "Publications")
    {
        <section>
            <div class="podcast-container">
                <div class="uk-grid uk-grid-medium podcast-wrapper" uk-grid>
                    <div class="uk-width-1-4 uk-width-1-6@s">
                        <span class="uk-preserve uk-margin-small-left podcast-icon uk-icon" uk-icon="icon: icn-podcast"></span>
                    </div>
                    <div class="uk-width-1-2 uk-width-2-3@s">
                        <div class="uk-text-large uk-text-truncate line-height-1 uk-text-bold">PodcastTitle</div>
                        <div class="uk-text-small line-height-1">PodcastDescription</div>
                    </div>


                    <div class="uk-width-1-4 uk-width-1-6@s">
                        <a onclick="" id="btnAudio_1" class="uk-link-reset">
                            <span class="uk-preserve uk-icon" id="audioIcon_1" uk-icon="icon:icn-play; ratio: 2.3334"></span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <br />
        <br />
    }

    @if (Model.PageIdentifier == "PremiumMemberShip")
    {
        @Html.Action("ShowPremiumMembersSlider", "Home")
        <br />
        <br />
        <section><div class="uk-margin-medium-bottom"><button class="uk-button uk-button-primary uk-button-large uk-border-rounded uk-align-center">Zum Antragsformular</button></div></section>
    }

    @if (Model.NewsletterPart)
    {
        @Html.Action("Index", "Newsletter")
    }
    @if (Model.VorteillePart)
    {
        @Html.Action("Vorteille", "Newsletter")
    }

</main>
}







