@using System.Globalization
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="@Session["language"]">
<head>

    <link rel="stylesheet" type="text/css" href="~/Content/Admin/plugins/table/datatable/datatables.css">
    <link href="~/Content/Admin/plugins/table/datatable/buttons.dataTables.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/plugins/table/datatable/dt-global_style.css">


    <script src="~/Content/Admin/vendor/jquery/jquery-3.5.1.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/dataTables.uikit.min.js"></script>



    @{
        CultureInfo cultureInfo = System.Threading.Thread.CurrentThread.CurrentCulture;

        string lang = cultureInfo.TwoLetterISOLanguageName;
    }



    @*@Html.Partial("~/Views/Partial/_PartialHead.cshtml")*@


</head>
@Html.Partial("~/Views/Partial/_PartialHeader.cshtml")

<body>

    @Html.Action("MenuList", "Home", new { area = "" })


    @RenderBody()

    @Html.Partial("~/Views/Partial/_PartialFooter.cshtml")


    <script src="~/Content/MainSite/assets/uikit/dist/js/uikit.min.js"></script>
    <script src="~/Content/MainSite/assets/uikit/dist/js/uikit-icons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
    <script src="~/Scripts/main.js"></script>

    <script src="~/Content/Scripts/RequestHelper.js"></script>





    @if (lang == "tr")
    {
        <script>
            (function () {
                if (!localStorage.getItem('cookieconsent')) {
                    document.body.innerHTML += '\
                                                            <div class="cookieconsent" style="position:fixed;padding:20px 0;left:0;bottom:0;background-color:#000;color:#FFF;text-align:center;width:100%;z-index:99999;">\
                                                                Bu web sitesi tanımlama bilgilerinizi kullanır. Bu web sitesini kullanmaya devam ederek, <a id="PrivacyPolicy" href="/tr/sayfalar/gizlilik-politikasi" target="_blank" style="color:#CCCCCC;">Gizlilik Politikası</a> ve Çerez Kullanımını kabul etmiş olursunuz. \
                                                                <a id="Accept" href="#" style="color:#CCCCCC;">Anladım, kabul ediyorum.</a>\
                                                            </div>\
';
                    document.querySelector('#Accept').onclick = function (e) {
                        debugger
                        e.preventDefault();

                        document.querySelector('.cookieconsent').style.display = 'none';
                        localStorage.setItem('cookieconsent', true);
                    };
                }
            })();
        </script>
    }
    else
    {
        <script>
            (function () {
                if (!localStorage.getItem('cookieconsent')) {
                    document.body.innerHTML += '\
                                                            <div class="cookieconsent" style="position:fixed;padding:20px 0;left:0;bottom:0;background-color:#000;color:#FFF;text-align:center;width:100%;z-index:99999;">\
                                                                Diese Seite verwendet Cookies, <a id="PrivacyPolicy" href="/de/seiten/datenschutz-bestimmungen" target="_blank" style="color:#CCCCCC;">Datenschutz-Bestimmungen</a>. Wenn Sie diese Website weiterhin nutzen, stimmen Sie deren Nutzung zu. \
                                                                <a id="Accept" href="#" target="_blank" style="color:#CCCCCC;">Ich verstehe, ich akzeptiere.</a>\
                                                            </div>\
';
                    document.querySelector('#Accept').onclick = function (e) {
                        debugger
                        e.preventDefault();

                        document.querySelector('.cookieconsent').style.display = 'none';
                        localStorage.setItem('cookieconsent', true);

                    };
                }
            })();
        </script>
    }

    <script src="~/Content/Admin/plugins/table/datatable/datatables.js"></script>
</body>

</html>
