
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="@Session["language"]">
    @Html.Partial("~/Views/Partial/_PartialHeader.cshtml")

<body>
    @Html.Partial("~/Views/Partial/_PartialInvestData.cshtml")

    @RenderBody()


    @Html.Partial("~/Views/Partial/_PartialFooter.cshtml")

    <script src="~/Content/MainSite/assets/uikit/dist/js/uikit.min.js"></script>
    <script src="~/Content/MainSite/assets/uikit/dist/js/uikit-icons.min.js"></script>

</body>

</html>
