@model List<TDIHKCorporate.Types.News>



<!--Üst kısım-->
<section>
    <!-- Günün tarihi-->
    <div class="uk-text-right color-dark-grey size-20" id="today"></div>
    <!-- Görseller 500px en ile 300px boy olarak yüklenmeli.-->
    <div class="uk-grid-small uk-grid uk-margin-medium-bottom" uk-grid uk-height-match="target: .match">


        <!-- Soldaki Büyük haber kartı-->
        <div class="uk-width-2-3@m">
            <div class="uk-width-1-1 uk-height-1-1">
                @if (Model != null)
                {
                    if (Model[0].Language == "tr")
                    {
                        <a href="/tr/haberler/@Model[0].NewsSeoLink" class="uk-inline-clip uk-link-reset uk-width-1-1 uk-height-1-1">
                            <div class="uk-inline uk-transition-toggle uk-width-1-1 uk-height-1-1">
                                <img src="@Model[0].NewsThumbnailPath" class="uk-width-1-1 uk-height-1-1 uk-transition-opaque uk-transition-scale-up" uk-img/>
                                <div class="uk-overlay uk-position-bottom uk-light uk-transition-slow">
                                    <div class="size-30 size-20-m line-height-1 highlight-news-main">@Model[0].NewsTitle</div>
                                    @*<div>Two countries will be asked to recount votes as Donald Trump continues to confest the election result.</div>*@
                                    <div class="uk-flex uk-flex-middle uk-margin-small-top"><span class="uk-badge">@Model[0].NewsCategoryName</span></div>
                                </div>
                            </div>
                        </a>
                    }
                    else
                    {
                        <a href="/de/nachrichten/@Model[0].NewsSeoLink" class="uk-inline-clip uk-link-reset uk-width-1-1 uk-height-1-1">
                            <div class="uk-inline uk-transition-toggle uk-width-1-1 uk-height-1-1">
                                <img src="@Model[0].NewsThumbnailPath" class="uk-width-1-1 uk-height-1-1 uk-transition-opaque uk-transition-scale-up uk-grid-match fit-cover" uk-img/>
                                <div class="uk-overlay uk-position-bottom uk-light uk-transition-slow">
                                    <div class="size-30 size-20-m line-height-1 highlight-news-main">@Model[0].NewsTitle</div>
                                    @*<div>Two countries will be asked to recount votes as Donald Trump continues to confest the election result.</div>*@
                                    <div class="uk-flex uk-flex-middle uk-margin-small-top"><span class="uk-badge">@Model[0].NewsCategoryName</span></div>
                                </div>
                            </div>
                        </a>
                    }
                }
            </div>
        </div>
        <!-- Küçük haber kartları-->
        <div class="uk-width-1-3@m match">
            <div class="uk-grid uk-grid-small" uk-grid>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        if (Model.IndexOf(item) > 0)
                        {

                            <div class="uk-width-1-1">
                                @if (item.Language == "tr")
                                {
                                    <a href="/tr/haberler/@item.NewsSeoLink" class="uk-inline-clip uk-link-reset uk-width-1-1 uk-height-1-1">
                                        <div class="uk-inline uk-transition-toggle uk-width-1-1 uk-height-1-1">
                                            <img src="@item.NewsThumbnailPath" class="uk-width-1-1 uk-height-1-1 uk-transition-opaque uk-transition-scale-up" uk-img/>
                                            <div class="uk-overlay uk-position-bottom uk-light uk-transition-slow">
                                                <div class="size-20 line-height-1 highlight-news-main">@item.NewsTitle</div>
                                                <div class="uk-flex uk-flex-middle uk-margin-small-top"><span class="uk-badge">@item.NewsCategoryName</span></div>
                                            </div>
                                        </div>
                                    </a>
                                }
                                else
                                {
                                    <a href="/de/nachrichten/@item.NewsSeoLink" class="uk-inline-clip uk-link-reset uk-width-1-1 uk-height-1-1">
                                        <div class="uk-inline uk-transition-toggle uk-width-1-1 uk-height-1-1">
                                            <img src="@item.NewsThumbnailPath" class="uk-width-1-1 uk-height-1-1 uk-transition-opaque uk-transition-scale-up" uk-img/>
                                            <div class="uk-overlay uk-position-bottom uk-light uk-transition-slow">
                                                <div class="size-20 line-height-1 highlight-news-main">@item.NewsTitle</div>
                                                <div class="uk-flex uk-flex-middle uk-margin-small-top"><span class="uk-badge">@item.NewsCategoryName</span></div>
                                            </div>
                                        </div>
                                    </a>
                                }
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>
</section>

