@model TDIHKCorporate.Types.News
@using System.Globalization
@{
    ViewBag.Title = "NachrichtenDetail";
    Layout = "~/Views/Shared/_layoutMaster.cshtml";
}
<style>
    .coverNews {
        object-fit: cover;
        width: 1140px;
        height: 460px;
    }
</style>

<main class="uk-container" uk-scrollspy="cls: uk-animation-fade; target: > section; delay: 250">


	<section>
		<div class="uk-text-right color-dark-grey size-20" @*id="today"*@>
			@*@Model.CreatedDate*@


	</div>
	<div class="uk-margin-medium-bottom">
		<img src="@Model.NewsImagePath" class="coverNews" alt="@Model.NewsTitle" uk-img />
	</div>
	<div>
		@{
			CultureInfo cultureInfo = System.Threading.Thread.CurrentThread.CurrentCulture;

			<span class="color-dark-grey size-20">@cultureInfo.DateTimeFormat.GetDayName(Model.CreatedDate.DayOfWeek).ToString(), @Model.CreatedDate.Day @cultureInfo.DateTimeFormat.GetMonthName(Model.CreatedDate.Month)</span>
		}
	</div>
	</section>
    <section>
    <div class="size-20 color-black uk-text-bold uk-margin-small-bottom">@Model.NewsDescription</div>
        </section>
    <section>
    <div class="news-detail-content uk-margin-medium-bottom">
        @Html.Raw(Model.NewsContent)
        </div>
    </section>

    @Html.Action("GetNewsForNewsDetail")
</main>


