@using System.Globalization
@model TDIHKCorporate.Types.News

@{
    Layout = "~/Views/Shared/_layoutMaster.cshtml";
    CultureInfo ci = System.Threading.Thread.CurrentThread.CurrentCulture;
    string lang = ci.TwoLetterISOLanguageName;
}

<head>
    <meta charset="utf-8">
    <meta name="description" content="@Model.NewsDescription">
    <title>TD IHK @Model.NewsTitle</title>
    <meta name="keywords" content="@Model.NewsSeoKeywords">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="TD IHK">
</head>


@if (Model.NewsContent.StartsWith("<main>"))
{
    @Html.Raw(Model.NewsContent)
}
else
{
    <main class="uk-container">
        @Html.Raw(Model.NewsContent)
    </main>
}




