
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Management/Views/Shared/_layoutDashboard.cshtml";
}

<h5>@Resources.resource.UyeEkle</h5>
<hr />

@if (ViewBag.Success != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Success
    </div>
}
else if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Error
    </div>
}

@using (Html.BeginForm("Create", "MemberShip", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="col-lg-12">
        <div class="col-lg-4">
            <label>@Resources.resource.UyeLogo</label> <br />
            <input type="file" name="file" value="" accept="image/x-png,image/gif,image/jpeg" required />
            <br />
            <br />

            <label>@Resources.resource.UyeUnvan</label>
            <input type="text" class="form-control" placeholder="@Resources.resource.UyeUnvan" name="MemberTitle" value="" required />
            <br />

            <label>@Resources.resource.UyeEmail</label>
            <input type="email" class="form-control" placeholder="@Resources.resource.UyeEmail" name="MemberEmailAddress" value="" />
            <br />

            <label>@Resources.resource.UyeAdres</label>
            <textarea class="form-control" name="MemberAddress" placeholder="@Resources.resource.UyeAdres"></textarea>
            <br />

            <label>@Resources.resource.UyeWebsite</label>
            <input type="text" class="form-control" placeholder="@Resources.resource.UyeWebsite" name="MemberWebSite" value="" required />
            <br />

            <label>@Resources.resource.UyeTelefon 1</label>
            <input type="text" class="form-control" placeholder="@Resources.resource.UyeTelefon 1" name="MemberPhone1" value="" />
            <br />

            <label>@Resources.resource.UyeTelefon 2</label>
            <input type="text" class="form-control" placeholder="@Resources.resource.UyeTelefon 1" name="MemberPhone2" value="" />
            <br />

            <button class=" btn btn-success" style="float:right">@Resources.resource.Kaydet</button>
        </div>
    </div>
}