@model TDIHKCorporate.Types.Members
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Management/Views/Shared/_layoutDashboard.cshtml";
}

<h5>Üye Düzenle</h5>
<hr />

@if (ViewBag.Success != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Success
    </div>
}
else if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Error
    </div>
}


@using (Html.BeginForm("Edit", "MemberShip", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="col-lg-12">
        <div class="col-lg-4">
            <input type="text" style="display:none;" name="MemberID" value="@Model.MemberID" />

            <label>Üye Logo</label> <br />
            <img src="@Model.MemberLogoPath" style="width:300px;height:150px;" />
            <input type="file" name="file" value="" accept="image/x-png,image/gif,image/jpeg" />
            <br />
            <br />

            <label>Üye Unvan</label>
            <input type="text" class="form-control" placeholder="Üye Unvan" name="MemberTitle" value="@Model.MemberTitle" required />
            <br />

            <label>Üye Email</label>
            <input type="email" class="form-control" placeholder="Üye Email" name="MemberEmailAddress" value="@Model.MemberEmailAddress" required />
            <br />

            <label>Üye Adres</label>
            <textarea class="form-control" name="MemberAddress" placeholder="Üye Adres" required>@Model.MemberAddress</textarea>
            <br />

            <label>Üye Website</label>
            <input type="text" class="form-control" placeholder="Website" name="MemberWebSite" value="@Model.MemberWebSite" required />
            <br />

            <label>Üye Telefon 1</label>
            <input type="text" class="form-control" placeholder="Üye Telefon 1" name="MemberPhone1" value="@Model.MemberPhone1" required />
            <br />

            <label>Üye Telefon 2</label>
            <input type="text" class="form-control" placeholder="Üye Telefon 1" name="MemberPhone2" value="@Model.MemberPhone2" />
            <br />

            <button class=" btn btn-success" style="float:right">Güncelle</button>
        </div>
    </div>
}
