@model TDIHKCorporate.Types.Members
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Management/Views/Shared/_layoutDashboard.cshtml";
}

<h5>@Resources.resource.UyeDuzenle</h5>
<hr />

@if (ViewBag.Success != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Success
    </div>
}
else if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Error
    </div>
}


@using (Html.BeginForm("Edit", "MemberShip", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="col-lg-12">
        <div class="col-lg-4">
            <input type="text" style="display:none;" name="MemberID" value="@Model.MemberID" />

            <label>@Resources.resource.UyeLogo</label> <br />
            <img src="@Model.MemberLogoPath" style="width:300px;height:150px;" />
            <input type="file" name="file" value="" accept="image/x-png,image/gif,image/jpeg" />
            <br />
            <br />

            <label>@Resources.resource.UyeUnvan</label>
            <input type="text" class="form-control" placeholder="@Resources.resource.UyeUnvan" name="MemberTitle" value="@Model.MemberTitle" required />
            <br />

            <label>@Resources.resource.UyeEmail</label>
            <input type="email" class="form-control" placeholder="@Resources.resource.UyeEmail" name="MemberEmailAddress" value="@Model.MemberEmailAddress" />
            <br />

            <label>@Resources.resource.UyeAdres</label>
            <textarea class="form-control" name="MemberAddress" placeholder="@Resources.resource.UyeAdres">@Model.MemberAddress</textarea>
            <br />

            <label>@Resources.resource.UyeWebsite</label>
            <input type="text" class="form-control" placeholder="@Resources.resource.UyeWebsite" name="MemberWebSite" value="@Model.MemberWebSite" required/>
            <br />

            <label>@Resources.resource.UyeTelefon 1</label>
            <input type="text" class="form-control" placeholder="@Resources.resource.UyeTelefon 1" name="MemberPhone1" value="@Model.MemberPhone1"  />
            <br />

            <label>@Resources.resource.UyeTelefon 2</label>
            <input type="text" class="form-control" placeholder="@Resources.resource.UyeTelefon 1" name="MemberPhone2" value="@Model.MemberPhone2" />
            <br />

            <button class=" btn btn-success" style="float:right">@Resources.resource.Guncelle</button>
        </div>
    </div>
}
