@using System.Globalization
@{
    Layout = null;

    CultureInfo cultureInfo = System.Threading.Thread.CurrentThread.CurrentCulture;

    string lang = cultureInfo.TwoLetterISOLanguageName;
}

<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Content/Scripts/RequestHelper.js"></script>
<main class="uk-container" uk-scrollspy="cls: uk-animation-fade; target: > section; delay: 250">
    <div class="uk-margin-medium-bottom uk-margin-medium-top">
        <section>
            <div class="uk-text-center uk-margin-medium-bottom">@Resources.resource.BultenSonGelismeler</div>
        </section>
        <!--Bülten Aboneliği-->
        <div class="uk-width-1-2@s uk-margin-auto">
            <div class="uk-grid uk-child-width-1-1 uk-grid-medium" uk-grid uk-height-match="target: > div > *">
                <div>
                    <input type="email" id="email" pattern="^[a-zA-Z0-9._+-]+&#64;[a-zA-Z0-9.-]+\.[a-zA-Z]{2,9}$" maxlength="500" name="Email" class="uk-input uk-border-rounded subscription-email" placeholder="E-mail Adresse" required>
                </div>
                <div>
                    <a id="SaveNewsletterEmail" class="uk-button uk-button-primary uk-border-rounded uk-width-1-1" href="#">@Resources.resource.Kaydol</a>
                </div>
            </div>
        </div>
        <div>
            <h3>@ViewBag.ErrorNewsletter</h3>
            <h3>@ViewBag.SuccessNewsletter</h3>
        </div>
        <!--Bülten Aboneliği Sonu-->
        <div class="uk-margin-small-top uk-width-1-1 uk-width-1-3@s uk-margin-auto">
            @if (lang == "tr")
            {
                <p class="uk-text-center uk-text-light" style="font-size: 15px;">
                    @Resources.resource.VeriIsleme
                    <b>
                        <a href="/Content/MainSite/assets/files/DATENSCHUTZ.pdf" class="uk-link-reset" target="_blank"><u>@Resources.resource.VeriGizlilik</u></a>
                    </b> sayfasında bulunabilir.
                </p>
            }
            else
            {
                <p class="uk-text-center uk-text-light" style="font-size: 15px;">
                    @Resources.resource.VeriIsleme
                    <a href="/Content/MainSite/assets/files/DATENSCHUTZ.pdf" class="uk-link-reset" target="_blank"><u>@Resources.resource.VeriGizlilik.</u></a>

                </p>
            }
        </div>
    </div>
</main>
<script>
    $("#SaveNewsletterEmail").click(function () {

        debugger

        var callParams = {
            endPoint: "../Newsletter/CheckEmail",
            requestType: "POST"
        };

        var email = $("#email").val();

        var dataParams = {};
        dataParams.Email = email;

        RequestAjax(callParams, dataParams, function (response) {

            debugger

            if (response == "True") {

                var callParams = {
                    endPoint: "/Newsletter/AddEmail",
                    requestType: "POST"
                };

                var dataParams = {};
                dataParams.Email = email;

                RequestAjax(callParams, dataParams, function (response) {
                    if (response == "True") {
                        alert('@Resources.resource.MailListesineEklendi');
                        $("#email").val("");
                    }
                    else {
                        alert('@Resources.resource.MailListesineEklenemedi');
                    }
                });

            }
            else {
                alert('@Resources.resource.MailAdresiKayitli');
            }
        });

    });
</script>
