
@{
    Layout = null;
}

<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Content/Scripts/RequestHelper.js"></script>
<main class="uk-container" uk-scrollspy="cls: uk-animation-fade; target: > section; delay: 250">
    <div class="uk-margin-medium-bottom">
        <!--Bülten Aboneliği-->
        <div class="uk-grid uk-child-width-1-1 uk-child-width-1-2@s uk-grid-medium" uk-grid uk-height-match="target: > div > *">
            <div>
                <input type="email" id="email" pattern="^[a-zA-Z0-9._+-]+&#64;[a-zA-Z0-9.-]+\.[a-zA-Z]{2,9}$" maxlength="500" name="Email" class="uk-input uk-border-rounded subscription-email" placeholder="E-mail Adresse" required>
            </div>
            <div>
                <a id="SaveNewsletterEmail" class="uk-button uk-button-primary uk-border-rounded uk-width-1-1" href="#">Anmeden</a>
            </div>
        </div>

        <div>
            <h3>@ViewBag.ErrorNewsletter</h3>
            <h3>@ViewBag.SuccessNewsletter</h3>
        </div>
        <!--Bülten Aboneliği Sonu-->
        <div class="uk-margin-small-top uk-width-1-1 uk-width-3-4@s uk-margin-auto">
            <p class="uk-text-center">Informationen dazu, wie TD-IHK mit deinen Daten umgeht, findest du in unserer <b>Datenschutzerklarung</b></p>
        </div>
    </div>
</main>
<script>
    $("#SaveNewsletterEmail").click(function () {

        debugger

        var callParams = {
            endPoint: "../Newsletter/CheckEmail",
            requestType: "POST"
        };

        var email = $("#email").val();

        var dataParams = {};
        dataParams.Email = email;

        RequestAjax(callParams, dataParams, function (response) {

            debugger

            if (response == "True") {

                var callParams = {
                    endPoint: "../Newsletter/AddEmail",
                    requestType: "POST"
                };

                var dataParams = {};
                dataParams.Email = email;

                RequestAjax(callParams, dataParams, function (response) {
                    if (response == "True") {
                        alert('@Resources.resource.MailListesineEklendi');
                        $("#email").val("");
                    }
                    else {
                        alert('@Resources.resource.MailListesineEklenemedi');
                    }
                });

            }
            else {
                alert('@Resources.resource.MailAdresiKayitli');
            }
        });

    });
</script>
