@model TDIHKCorporate.Types.Pages
@{
	ViewBag.Title = "Jobangebote";
	Layout = "~/Views/Shared/_layoutMaster.cshtml";
}

<main class="uk-container" uk-scrollspy="cls: uk-animation-fade; target: > section; delay: 250">
	<section>
		<!--Sayfa Başlığı-->
		<div class="uk-background-secondary">
			<h1 class="uk-h5 banner-padding uk-margin-remove">@Model.PageTitle</h1>
		</div>
		<!--Sayfa Başlığı sonu-->
		<!-- Banner-->
		<div>
			<img src="@Model.PageImagePath" alt="" uk-img>
		</div>
	</section>
	
    @Html.Raw(Model.PageContent)

	@Html.Action("GetJobOffers")
	
	@Html.Action("Index", "Newsletter")
</main>
