
@{
    ViewBag.Title = "AddNewsCategory";
    Layout = "~/Areas/Management/Views/Shared/_layoutDashboard.cshtml";


}
<script src="~/Content/Admin/js/color-scheme.min.js"></script>

<script>
  // Pretty much the same exact syntax!
  var scheme = new ColorScheme;
  scheme.from_hue(21)
        .scheme('triade')
        .variation('soft');


  var colors = scheme.colors();

  /*
    colors = [ "e69373", "805240", "e6d5cf", "bf5830" ,
               "77d36a", "488040", "d2e6cf", "43bf30" ,
               "557aaa", "405c80", "cfd9e6", "306ebf" ]
  */
</script>

<h5>@Resources.resource.HaberKategoriEkle</h5>
<hr />

@if (ViewBag.Success != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Success
    </div>
}
else if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Error
    </div>
}

@using (Html.BeginForm("AddNewsCategory", "News", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="col-md-12">
        <div class="col-lg-3">
            <div>
                <label>@Resources.resource.KategoriDili</label>
                <select class="form-control" name="Language">
                    <option value="tr">TR</option>
                    <option value="de">DE</option>
                </select>
            </div>
            <br />

            <div>
                <label>@Resources.resource.KategoriAdi</label>
                <input type="text" class="form-control" placeholder="@Resources.resource.KategoriAdi" name="NewsCategoryName" value="" />
            </div>
            <br />

            <div>
                <input style="float:right" type="submit" class="btn btn-primary" name="Submit" value="@Resources.resource.Kaydet" />
            </div>
        </div>
    </div>
}


