@model TDIHKCorporate.Types.News
@using Newtonsoft.Json
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Management/Views/Shared/_layoutDashboard.cshtml";
}

<script src="~/Content/Scripts/News.js"></script>

<div class="row">
    <div class="col-md-9 col-sm-12">

        <div>
            <h5>@Resources.resource.SayfaEkle</h5>
            <input type="text" id="NewsTitle" placeholder="@Resources.resource.Baslik" onkeyup="GenerateFriendlyUrl('NewsTitle','NewsSeoLink')" class="form-control" name="name" value="@Model.NewsTitle" required />
        </div>
        <br />


        <div>
            <h5>Seo Link</h5>
            <input type="text" class="form-control" id="NewsSeoLink" placeholder="Seo Link" value="@Model.NewsSeoLink" required />
        </div>
        <br />

        <div>
            <h5>Haber Açıklaması</h5>
            <input type="text" class="form-control" id="NewsDescription" placeholder="News Description" maxlength="360" value="@Model.NewsDescription" required />
        </div>
        <br />

        @Html.Partial("~/Areas/Management/Views/Partial/_PartialQuillHtmlEditor.cshtml")

    </div>

    <div class="col-md-3 col-sm-12">
        <div id="NewsFeatures">
            <div class="card">

                <button class="btn btn-light" data-toggle="collapse" data-target="#collapseNewsFeatures" aria-expanded="true" aria-controls="collapseNewsFeatures">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            @Resources.resource.SayfaOzellikleri
                        </h5>

                    </div>
                </button>

                <div id="collapseNewsFeatures" class="collapse show" aria-labelledby="headingOne" data-parent="#NewsFeatures">
                    <div class="card-body">
                        <div>
                            <label>@Resources.resource.KategoriSeciniz</label>
                            <select class="form-control" id="NewsCategories" required>
                            </select>
                        </div>
                        <br />
                        <div>
                            <label>@Resources.resource.SayfaDili</label>
                            <select class="form-control" onchange="GetLanguageToIdentifiers()" id="NewsLanguage" required>
                                <option value="tr">TR</option>
                                <option value="de">DE</option>
                            </select>
                        </div>
                        <br />
                        @*<div>
                            <label>News Identifier</label>
                            <input type="text" class="form-control" id="NewsIdentifierTxt" placeholder="Enter Identifier" value="@Model.NewsIdentifier" required/>
                        </div>
                        <br />*@
                        <div>
                            <label><input type="checkbox" onchange="DisableIdentifierInputs()" id="IdentifierCheckbox" name="name" value="" /> Select Identifier</label>
                            <select class="form-control" id="NewsIdentifierDropdown" disabled="disabled" required>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div id="NewsSeoOptions">
            <div class="card">

                <button class="btn btn-light" data-toggle="collapse" data-target="#collapseNewsSeoOptions" aria-expanded="true" aria-controls="collapseNewsSeoOptions">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            @Resources.resource.SeoAyarlari
                        </h5>
                    </div>
                </button>

                <div id="collapseNewsSeoOptions" class="collapse show" aria-labelledby="headingOne" data-parent="#NewsSeoOptions">
                    <div class="card-body">
                        <div>
                            <label>@Resources.resource.SeoAnahtarKelimeleri</label>
                            <textarea id="NewsSeoKeywords" class="form-control" required>@Model.NewsSeoKeywords</textarea>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <br />
        <div id="NewsPicture">
            <div class="card">

                <button class="btn btn-light" data-toggle="collapse" data-target="#collapseNewsPicture" aria-expanded="true" aria-controls="collapseNewsPicture">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            @Resources.resource.OneCikanGorsel
                        </h5>
                    </div>
                </button>

                <div id="collapseNewsPicture" class="collapse show" aria-labelledby="headingOne" data-parent="#NewsPicture">
                    <div class="card-body">
                        <div>
                            <center>
                                <img id="ImagePreview" style="width:100%;height:100%;" src="@Model.NewsImagePath" alt="Alternate Text"/>
                            </center>
                        </div>
                        <br />
                        <div>
                            <center>
                                <input type="file" id="NewsImage" image-path="@Model.NewsImagePath" thumbnail-path="@Model.NewsThumbnailPath" value="@Server.MapPath(Model.NewsImagePath)" accept="image/x-png,image/gif,image/jpeg" required/>
                            </center>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <br />


        <div id="PublishTab">
            <div class="card">
                <button class="btn btn-light" data-toggle="collapse" data-target="#collapsePublish" aria-expanded="true" aria-controls="collapsePublish">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            @Resources.resource.Yayimla
                        </h5>
                    </div>
                </button>

                <div id="collapsePublish" class="collapse show" aria-labelledby="headingOne" data-parent="#PublishTab">
                    <div class="card-body">
                        <div>
                            <input type="submit" class="btn btn-outline-primary" name="" value="@Resources.resource.TaslakOlarakKaydet" />
                            &nbsp;
                            <input type="submit" class="btn btn-outline-primary" name="" value="@Resources.resource.Onizleme" />
                        </div>
                        <br />
                        <div>
                            <input id="Publish" onclick="EditNews(@Model.NewsID, '@Model.NewsIdentifier')" type="submit" class="btn btn-primary" name="" value=" @Resources.resource.Guncelle" />
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>

    $(document).ready(function () {

        //GetNewsCategories("NewsCategories");

        GetNewsIdentifier('NewsIdentifierDropdown', '@Model.Language');

        var editor = $("#editor").data("kendoEditor");
        var html = @Html.Raw(JsonConvert.SerializeObject(Model.NewsContent));
        var htmlContent = html;
        editor.value(htmlContent + editor.value());



    });

    function DisableIdentifierInputs() {
        debugger
        var element = document.getElementById("IdentifierCheckbox")
        var dropdown = document.getElementById("NewsIdentifierDropdown");
        //var txt = document.getElementById("NewsIdentifierTxt");

        if (element.checked === true) {

            //txt.setAttribute("disabled", "disabled");
            dropdown.removeAttribute("disabled");
        }
        else {
            dropdown.setAttribute("disabled", "disabled");
            //txt.removeAttribute("disabled");
        }
    }

    function GetLanguageToIdentifiers() {
        var lang = $("#NewsLanguage").val();

        GetNewsIdentifier("NewsIdentifierDropdown", lang);
        GetNewsCategories("NewsCategories",'@Model.Language');
    }

       $(window).on('load', function () {
           //$('#NewsCategories').val('@Model.NewsCategoryID');

           setTimeout(() => {
               GetNewsCategories("NewsCategories");
            }, 500);

            setTimeout(() => {
           $('#NewsCategories').val('@Model.NewsCategoryID');
           }, 1000);

           $('#NewsLanguage').val('@Model.Language');

           var element = document.getElementById("IdentifierCheckbox")

           @*if ('@Model.NewsIdentifier' != null) {*@
               
               $('#NewsIdentifierDropdown').val('@Model.NewsIdentifier');
               //element.checked = true;
           //}
           //else {

           //}
    })
</script>

<script type="text/javascript">
    $('#NewsImage').change(function (event) {
        if (window.FormData !== undefined) {

            var fileUpload = $("#NewsImage").get(0);
            var files = fileUpload.files;

            // Create FormData object  
            var thumbnail = new FormData();

            // Looping over all files and add it to FormData object  
            for (var i = 0; i < files.length; i++) {
                thumbnail.append(files[i].name, files[i]);
            }

            //thumbnail.append("Width", "500");
            //thumbnail.append("Height", "300");

            $.ajax({
                url: '/Management/Image/ImageBrowserUploadForNewsThumbnail',
                type: "POST",
                contentType: false, // Not to set any content header  
                processData: false, // Not to process data  
                data: thumbnail,
                success: function (result) {
                    debugger
                    $("#NewsImage").attr("thumbnail-path", result);
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });


            // Create FormData object  
            var file = new FormData();

            // Looping over all files and add it to FormData object  
            for (var i = 0; i < files.length; i++) {
                file.append(files[i].name, files[i]);
            }

            $.ajax({
                url: '/Management/Image/ImageBrowserUploadForNews',
                type: "POST",
                contentType: false, // Not to set any content header  
                processData: false, // Not to process data  
                data: file,
                success: function (result) {
                    debugger
                    $("#NewsImage").attr("image-path", result);
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });


        }
        else {
            alert("FormData is not supported.");
        }
    });
</script>