@model List<TDIHKCorporate.Types.SearchItem>
@using System.Globalization



@{
    ViewBag.Title = "EventArchive";
    Layout = "~/Views/Shared/_layoutMaster.cshtml";

    CultureInfo cultureInfo = System.Threading.Thread.CurrentThread.CurrentCulture;

    string lang = cultureInfo.TwoLetterISOLanguageName;
}

@*<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/dataTables.uikit.min.css">*@


<script>
    $(document).ready(function () {
        $("#EventArchive").DataTable();
    })
</script>


<main class="uk-container" uk-scrollspy="cls: uk-animation-fade; target: > section; delay: 250">
    <section class="uk-section">
        <h1>@Resources.resource.EtkinlikArsivi</h1>
        <h2>@Resources.resource.Etkinlikler</h2>
        <!-- Bu div dahil tablonun içinde arşivde istediğimiz verileri döndürebiliriz-->

        <div class="uk-overflow-auto">
            <table id="EventArchive" class="uk-table uk-table-hover uk-table-responsive uk-table-divider" style="width:100%">
                <thead>
                    <tr>
                        <th class="uk-width-small">@Resources.resource.Tarih</th>
                        <th class="uk-width-expand">@Resources.resource.EtkinlikBasligi</th>
                        <th class="uk-width-expand">Tip</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr>
                            <td>@item.Date.ToShortDateString()</td>
                            @if (lang == "tr")
                            {
                                if (item.Type == "News")
                                {
                                    <td class="uk-table-link uk-text-nowrap"><a class="uk-link-reset" href="/tr/haberler/@item.SeoLink">@item.Title</a></td>

                                }
                                else if (item.Type == "Events")
                                {
                                    <td class="uk-table-link uk-text-nowrap"><a class="uk-link-reset" href="/tr/etkinlikler/@item.SeoLink">@item.Title</a></td>
                                }
                            }
                            else
                            {
                                if (item.Type == "News")
                                {
                                    <td class="uk-table-link uk-text-nowrap"><a class="uk-link-reset" href="/tr/haberler/@item.SeoLink">@item.Title</a></td>

                                }
                                else if (item.Type == "Events")
                                {
                                    <td class="uk-table-link uk-text-nowrap"><a class="uk-link-reset" href="/de/events/@item.SeoLink">@item.Title</a></td>
                                }
                            }


                            @if (item.Type == "News")
                            {
                            <td>@Resources.resource.Haberler</td>

                            }
                            else if (item.Type == "Events")
                            {
                            <td>@Resources.resource.Etkinlikler</td>
                            }

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
</main>


<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.uikit.min.js"></script>