@model List<TDIHKCorporate.Types.SearchItem>
@using System.Globalization

@{
    Layout = "~/Views/Shared/_layoutMaster.cshtml";

    CultureInfo cultureInfo = System.Threading.Thread.CurrentThread.CurrentCulture;

    string lang = cultureInfo.TwoLetterISOLanguageName;
}


<head>
    <meta charset="utf-8">

    @if (lang == "tr")
    {
        <meta name="description" content="TD IHK nın düzenlemiş olduğu tüm etkinliklerin arşivine bu sayfadan ulaşabilirsiniz.">
        <title>TD IHK Etkinlik Arşivi</title>
    }
    else
    {
        <meta name="description" content="Auf dieser Seite können Sie auf das Archiv aller von TD IHK organisierten Aktivitäten zugreifen.">
        <title>TD IHK Events Archive</title>
    }

    <meta name="keywords" content="td ihk etkinlikler,td ihk events,td ihk etkinlik arşivi,td ihk event archive,td ihk geçmiş etkinlikler,td ihk last events">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="TD IHK">

    <script src="~/Content/Admin/vendor/jquery/jquery-3.5.1.min.js"></script>
</head>


<script>
    $(document).ready(function () {

        var lang = '@lang';
        var languageUrl = '';

        if (lang==="tr") {
            languageUrl = '/Content/plugins/datatable/turkish.json';
        }
        else {
            languageUrl = '/Content/plugins/datatable/german.json';
        }

        var table;


        $("#EventArchive").DataTable({
            language: {
                url: languageUrl
            },
            "stripeClasses": [],
            "lengthMenu": [7, 10, 20, 50],
            "pageLength": 7,

            "columnDefs": [
                //date-fields
                {
                    "searchable": false,
                    "orderable": true,
                    "targets": 0,
                    "type": 'date'
                }
            ],

        });
    })
</script>


<main class="uk-container" uk-scrollspy="cls: uk-animation-fade; target: > section; delay: 250">
    <section class="uk-section">
        <h1>@Resources.resource.EtkinlikArsivi</h1>
        <!-- Bu div dahil tablonun içinde arşivde istediğimiz verileri döndürebiliriz-->

        <div class="uk-overflow-auto">
            <table id="EventArchive" class="uk-table uk-table-hover uk-table-responsive uk-table-divider" style="width:100%">
                <thead>
                    <tr>
                        <th>@Resources.resource.Tarih</th>
                        <th>@Resources.resource.EtkinlikBasligi</th>
                        <th>@Resources.resource.Tur</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr>
                            <td>@item.Date.ToShortDateString()</td>
                            @if (lang == "tr")
                            {
                                if (item.Type == "News")
                                {
                                    <td class="uk-table-link"><a class="uk-link-reset" href="/tr/haberler/@item.SeoLink">@item.Title</a></td>

                                }
                                else if (item.Type == "Events")
                                {
                                    <td class="uk-table-link"><a class="uk-link-reset" href="/tr/etkinlikler/@item.SeoLink">@item.Title</a></td>
                                }
                            }
                            else
                            {
                                if (item.Type == "News")
                                {
                                    <td class="uk-table-link"><a class="uk-link-reset" href="/tr/haberler/@item.SeoLink">@item.Title</a></td>

                                }
                                else if (item.Type == "Events")
                                {
                                    <td class="uk-table-link"><a class="uk-link-reset" href="/de/events/@item.SeoLink">@item.Title</a></td>
                                }
                            }


                            @if (item.Type == "News")
                            {
                                <td>@Resources.resource.Haberler</td>

                            }
                            else if (item.Type == "Events")
                            {
                                <td>@Resources.resource.Etkinlikler</td>
                            }

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.uikit.min.js"></script>
