@model List<TDIHKCorporate.Types.Events>
@using System.Globalization

@{
    Layout = null;
}

@if (Model.Count > 0)
{
    <section>
        <div class="uk-text-center events-page-header">@Resources.resource.GelecekEtkinlikler</div>

        @foreach (var item in Model)
        {
            <div class="uk-grid uk-grid-collapse" uk-grid uk-height-match="target: .height-match">
                <div class="uk-box-shadow-medium uk-width-1-4@m uk-padding-small uk-card uk-card-primary uk-card-body uk-flex uk-flex-column uk-flex-between height-match">

                    @{
                        CultureInfo ci = System.Threading.Thread.CurrentThread.CurrentCulture;
                        string lang = ci.TwoLetterISOLanguageName;

                        <span class="size-h2 line-height-1 uk-margin-small-top">@item.EventDate.ToString("MMM", ci).ToUpper()</span>
                    }

                    <span class="line-height-1 uk-margin-small-bottom" style="font-size: 60px">@item.EventDate.Day</span>
                    <span class="size-h2 line-height-1">@item.EventTitle</span>
                    <div class="uk-margin-small-bottom">
                        <span class="uk-icon" uk-icon="icon: icn-clock"></span>
                        @{
                            TimeSpan tsp = new TimeSpan(item.EventTime.Hours, item.EventTime.Minutes, item.EventTime.Seconds);
                            <span>@String.Format("{0:hh\\:mm}", tsp)</span>
                        }
                    </div>
                    <div>

                        @if (lang == "tr")
                        {
                            <a href="/tr/etkinlikler/@item.EventSeoLink" class="uk-button uk-button-secondary uk-width-expand  uk-border-rounded uk-padding-remove uk-text-center color-global">@Resources.resource.Kayit</a>
                        }
                        else
                        {
                            <a href="/de/events/@item.EventSeoLink" class="uk-button uk-button-secondary uk-width-expand  uk-border-rounded uk-padding-remove uk-text-center color-global">@Resources.resource.Kayit</a>
                        }

                    </div>
                </div>
                <div class="uk-box-shadow-medium uk-width-1-1 uk-width-expand@m">



                    <div class="uk-background-cover height-match uk-visible@m uk-position-relative" style="background-image: url('@item.EventImagePath');">
                        @if (item.RegisterCount >= (item.EventQuota - item.EventCriticalQuota))
                        {
                            <div class="event-flag">@Resources.resource.Yalnizca <span>@(item.EventQuota-item.RegisterCount)</span> @Resources.resource.YerKaldi</div>
                        }
                    </div>


                    @*<div class="uk-hidden@m height-match">
                            <div class="event-flag">@Resources.resource.Yalnizca <span>3</span> @Resources.resource.YerKaldi</div>
                            <img src="/Content/MainSite/assets/images/events/Past-2.png" class="uk-width-1-1" alt="">
                        </div>*@
                </div>

            </div>
            <br />
        }
    </section>
}