@model TDIHKCorporate.Types.Pages
@using System.Globalization

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layoutMaster.cshtml";

    CultureInfo cultureInfo = System.Threading.Thread.CurrentThread.CurrentCulture;
    string lang = cultureInfo.TwoLetterISOLanguageName;
}

<head>
    <meta charset="utf-8">

    @if (lang == "tr")
    {
        <meta name="description" content="TD IHK nın düzenlediği ve düzenleyeceği etkinliklere arşivine bu sayfadan ulaşabilirsiniz.">
        <title>TD IHK Etkinlikler</title>
    }
    else
    {
        <meta name="description" content="Auf dieser Seite erreichen Sie das Archiv der von TD IHK organisierten und zu organisierenden Veranstaltungen.">
        <title>TD IHK Events</title>
    }

    <meta name="keywords" content="td ihk etkinlikler,td ihk events">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="TD IHK">
</head>

@{
    List<TDIHKCorporate.Types.BreadCrumb> breadCrumbList = new List<TDIHKCorporate.Types.BreadCrumb>();
    try
    {
        breadCrumbList = (List<TDIHKCorporate.Types.BreadCrumb>)ViewBag.BreadcrumbList;
    }
    catch (Exception ex)
    {

    }
}

<main class="uk-container" uk-scrollspy="cls: uk-animation-fade; target: > section; delay: 100">
    @if (breadCrumbList != null)
    {
        <div class="uk-background-secondary">
            <ul class="uk-breadcrumb">

                @foreach (var item in breadCrumbList)
                {
                    if (breadCrumbList.IndexOf(item) == breadCrumbList.Count - 1) //son elemansa
                    {
                        if (lang == "de")
                        {
                            <li><span>@item.MenuName</span></li>
                        }
                        else
                        {
                            <li><span>@item.MenuName</span></li>
                        }
                    }
                    else
                    {
                        if (lang == "de")
                        {
                            <li><a href="/de/seiten/@item.PageSeoLink">@item.MenuName</a></li>
                        }
                        else
                        {
                            <li><a href="/tr/sayfalar/@item.PageSeoLink">@item.MenuName</a></li>
                        }
                    }
                }
            </ul>
        </div>
    }


    <div class="uk-position-relative">
        <img data-src="/Content/MainSite/assets/images/events/events-banner.png" alt="" uk-img />
        <div class="uk-position-center-left event-form-wrapper uk-width-3-4 uk-width-1-3@s uk-width-3-5@l">
            <form action="/Event/SearchEvents" method="get" class="uk-flex">
                <input type="text" name="search" placeholder="  Suchen Sie ein Datum, Thema oder Ort um Ihr Event zu finden" class="uk-input uk-border-rounded" />
                <button type="submit" class="background-transparent uk-margin-small-left uk-preserve" uk-icon="icn-white-search"></button>
            </form>
        </div>
    </div>


    @Html.Action("GetEventCategoriesArea", "Event")

    <!--Yaklaşan Etkinlikler (Kırmızılı Flamalı bölüm)-->
    @Html.Action("FutureEvents", "Event")


    <!--Kare şeklindeki etkinlikler-->
    @Html.Action("LastEvents", "Event")



    @if (Model.NewsletterPart)
    {
        @Html.Action("Index", "Newsletter")
    }

    @if (Model.VorteillePart)
    {
        @Html.Action("Vorteille", "Newsletter")
    }

</main>
