@using System.Globalization
@model List<TDIHKCorporate.Types.Events>


@{
    Layout = "~/Views/Shared/_layoutMaster.cshtml";
    CultureInfo cultureInfo = System.Threading.Thread.CurrentThread.CurrentCulture;
    string lang = cultureInfo.TwoLetterISOLanguageName;
    int i = 0;
}

<head>
    <meta charset="utf-8">

    @if (Model.Count > 0)
    {
        if (lang == "tr")
        {
            <meta name="description" content="TD IHK nın etkinlik takvimine bu sayfadan ulaşabilirsiniz. Etkinlik takviminde buluşma etkinlikleri,toplantılar ve eğitimlere ait bilgilendirmelere ulaşabilirsiniz.">
            <title>TD IHK Etkinlik Takvimi</title>
        }
        else
        {
            <meta name="description" content="Auf dieser Seite erreichen Sie den Veranstaltungskalender von TD IHK. Informationen zu Besprechungsveranstaltungen, Besprechungen und Schulungen finden Sie im Veranstaltungskalender.">
            <title>TD IHK Event Kalender</title>
        }

    }
    <meta name="keywords" content="td ihk etkinlik takvimi,td ihk event kalender,td ihk etkinlikler,td ihk events">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="TD IHK">
</head>


<main class="uk-container" uk-scrollspy="cls: uk-animation-fade; target: > section; delay: 250">




    @if (Model != null)
    {
        <section>
            <!--Highlight Event-->
            <div class="uk-inline uk-width-1-1 uk-margin-small-bottom uk-visible@m">
                <img src="@Model[0].EventImagePath" class="uk-width-1-1 event-banner-height fit-cover" alt="" uk-img>
                @*<img src="/Content/MainSite/assets/images/kalender/Highlight picture.png" class="uk-width-1-1 event-banner-height fit-cover" alt="">*@
                <div class="uk-overlay kalender-overlay uk-light uk-position-top uk-height-1-1">
                    <div class="uk-flex uk-flex-column uk-flex-between uk-height-1-1">
                        <div>
                            @{

                                <div class="uk-h2 uk-text-light uk-margin-remove">@Model[0].EventDate.ToString("MMM", cultureInfo).ToUpper()</div>
                            }
                            <div class="size-60">@Model[0].EventDate.Day</div>
                            <div class="size-30 size-24-m">@Model[0].EventTitle</div>
                            @{
                                TimeSpan ts = new TimeSpan(Model[0].EventTime.Hours, Model[0].EventTime.Minutes, Model[0].EventTime.Seconds);
                                <div class="size-22 size-20-m"><span class="uk-icon uk-margin-small-right" uk-icon="icon: icn-clock"></span><span class="size-20">@String.Format("{0:hh\\:mm}", ts)</div>
                            }
                        </div>
                        <div class="uk-width-1-2@m">
                            <h3>@Model[0].EventDescription</h3>
                        </div>
                        <div>
                            @{

                                if (lang == "tr")
                                {
                                    <a href="/tr/etkinlikler/item.EventSeoLink" class="uk-button uk-button-primary uk-border-rounded">@Resources.resource.Kayit</a>
                                }
                                else
                                {
                                    <a href="/de/events/@Model[0].EventSeoLink" class="uk-button uk-button-primary uk-border-rounded">@Resources.resource.Kayit</a>
                                }

                            }


                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-hidden@m uk-margin">
                <div class="uk-card uk-card-primary">
                    <div class="uk-card-body">
                        <div class="uk-light uk-flex uk-flex-column uk-flex-between">
                            <div>
                                @{
                                    CultureInfo cultureInfoMobile = System.Threading.Thread.CurrentThread.CurrentCulture;

                                    <div class="size-15-m uk-text-light uk-margin-remove">@Model[0].EventDate.ToString("MMM", cultureInfoMobile).ToUpper()</div>
                                }
                                <div class="size-50 line-height-1 uk-margin-medium-bottom">@Model[0].EventDate.Day</div>
                                <div class="size-20">@Model[0].EventTitle</div>
                                @{
                                    TimeSpan tsMobile = new TimeSpan(Model[0].EventTime.Hours, Model[0].EventTime.Minutes, Model[0].EventTime.Seconds);
                                    <div class="size-20"><span class="uk-icon uk-margin-small-right" uk-icon="icon: icn-clock"></span><span class="size-20">@String.Format("{0:hh\\:mm}", tsMobile)</div>
                                }
                            </div>
                            <div class="uk-width-1-2@m">
                                <h3 class="uk-text-light">@Model[0].EventDescription</h3>
                            </div>
                            <div>
                                @{

                                    string langMobile = cultureInfo.TwoLetterISOLanguageName;

                                    if (langMobile == "tr")
                                    {
                                        <a href="/tr/etkinlikler/@Model[0].EventSeoLink" class="uk-button uk-button-primary uk-border-rounded uk-width-1-1">@Resources.resource.Kayit</a>
                                    }
                                    else
                                    {
                                        <a href="/de/events/@Model[0].EventSeoLink" class="uk-button uk-button-primary uk-border-rounded uk-width-1-1">@Resources.resource.Kayit</a>
                                    }

                                }


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="uk-grid uk-grid-small uk-child-width-1-1 uk-child-width-1-3@s uk-child-width-1-4@m uk-margin-small-bottom" uk-grid uk-height-match="target: .uk-card-body; row: false">
                @foreach (var item in Model)
                {
                    <!-- Event Kartları-->
                    if (Model.IndexOf(item) > 0)
                    {
                        <div class="kalender-cart">

                            <div class="uk-card uk-card-hover uk-card-primary">

                                <div class="uk-card-body uk-flex uk-flex-column uk-flex-between kalender-card-body">
                                    <div>
                                        @{
                                            CultureInfo ci = System.Threading.Thread.CurrentThread.CurrentCulture;
                                            <div class="size-20 size-15-m line-height-1">@item.EventDate.ToString("MMM", ci).ToUpper()</div>
                                        }
                                        <div class="size-50 line-height-1 uk-margin-small-bottom">@item.EventDate.Day</div>
                                        <div>@item.EventTitle</div>

                                    </div>
                                    <div>
                                        @{
                                            TimeSpan tsp = new TimeSpan(item.EventTime.Hours, item.EventTime.Minutes, item.EventTime.Seconds);
                                            <div class="uk-flex uk-flex-middle"><span class="uk-icon uk-margin-small-right" uk-icon="icon: icn-clock"></span><span class="size-20">@String.Format("{0:hh\\:mm}", tsp)</span></div>
                                        }

                                        @{

                                            if (lang == "tr")
                                            {
                                                <a href="/tr/etkinlikler/@item.EventSeoLink" class="uk-button uk-width-1-1 uk-button-secondary uk-margin-small-top uk-border-rounded color-global">@Resources.resource.Kayit</a>
                                            }
                                            else
                                            {
                                                <a href="/de/events/@item.EventSeoLink" class="uk-button uk-width-1-1 uk-button-secondary uk-margin-small-top uk-border-rounded color-global">@Resources.resource.Kayit</a>
                                            }

                                        }

                                    </div>
                                </div>

                            </div>

                        </div>

                    }

                }
            </div>
        </section>
    }


</main>

@Html.Action("Index", "Newsletter")
