
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Management/Views/Shared/_layoutDashboard.cshtml";
}

<h5>@Resources.resource.PodcastEkle</h5>
<br />

@if (ViewBag.Success != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Success
    </div>
}
else if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Error
    </div>
}

@using (Html.BeginForm("Create", "Podcast", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
<div class="col-lg-12">
    <div class="col-lg-4">
        <label>@Resources.resource.PodcastDili</label>
        <select class="form-control" id="Language" name="Language" required>
            <option value="tr">TR</option>
            <option value="de">DE</option>
        </select>
        <br />
        <label>@Resources.resource.PodcastDosyasi</label><br />
        <input type="file" name="file" id="file" value="Dosya Yükle" accept="audio/*" required />
        <br />
        <br />
        <label>@Resources.resource.PodcastBaslik</label>
        <input type="text" name="PodcastTitle" id="PodcastTitle" class="form-control" placeholder="@Resources.resource.PodcastBaslik" value="" required />
        <br />
        <label>@Resources.resource.PodcastAciklamasi</label>
        <input type="text" class="form-control" placeholder="@Resources.resource.PodcastAciklamasi" name="PodcastDescription" id="PodcastDescription" value="" required />
        <br />
        <input type="submit" id="SavePodcast" onclick="uploadFile()" class="btn btn-success" style="float:right" name="name" value="@Resources.resource.Kaydet" />
    </div>
</div>
}