
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Management/Views/Shared/_layoutDashboard.cshtml";
}

@if (ViewBag.Success != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Success
    </div>
}
else if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Error
    </div>
}

<h5>@Resources.resource.KurumBilgisiOlustur</h5>
<hr />

@using (Html.BeginForm("Create", "Institution", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="col-lg-12">
        <div class="col-lg-4">
            <label>@Resources.resource.Dil</label>
            <select name="Language" class="form-control" required>
                <option value="tr">TR</option>
                <option value="de">DE</option>
            </select>
            <br />
            <label>@Resources.resource.Baslik</label>
            <input type="text" class="form-control" placeholder="@Resources.resource.Baslik" name="InstitutionTitle" value="" required />
            <br />
            <label>@Resources.resource.Aciklama</label>
            <textarea name="InstitutionDescription" class="form-control" placeholder="@Resources.resource.Aciklama" rows="3" required></textarea>
            <br />
            <label>@Resources.resource.Tarih</label>
            <input type="date" class="form-control" name="InstitutionDate" value="" required />
            <br />
            <input style="float:right" type="submit" class="btn btn-primary" name="name" value="Save" />
        </div>
    </div>
}

